<div class="main">
  <div class="icon">
    <%= image_tag "static_pages/fuwuliucheng/icon.png" %>
  </div>

  <div class="content fuwuliucheng clearfix">

    <div class="item pull-left">
      <div class="img pull-left">
        <%= image_tag "static_pages/fuwuliucheng/1.png" %>
      </div>
      <div class="l pull-left odd">
        <div class="title">
          预定服务
        </div>
        <div class="desc">
          您可以通过官网、微信服务号、服务热线、预订服务
        </div>
      </div>
    </div>

    <div class="item pull-left">
      <div class="img pull-right">
        <%= image_tag "static_pages/fuwuliucheng/2.png" %>
      </div>

      <div class="l pull-right even">
        <div class="title">
          订单审核
        </div>
        <div class="desc">
          订单预订成功后，客服会通过电话或者短信审核确认
        </div>
      </div>
    </div>

    <div class="item pull-left">
      <div class="img pull-left">
        <%= image_tag "static_pages/fuwuliucheng/3.png" %>
      </div>
      <div class="l pull-left odd">
        <div class="title">
          技师上门
        </div>
        <div class="desc">
          我们的小卡技师会提前预约，给您的爱车进行上门服务
        </div>
      </div>
    </div>

    <div class="item pull-left">
      <div class="img pull-right">
        <%= image_tag "static_pages/fuwuliucheng/4.png" %>
      </div>
      <div class="l pull-right even" style='margin-top: 50px;'>
        <div class="title">
          保养检测
        </div>
        <div class="desc">
          服务开始前，卡拉丁技师会给您一份《卡拉丁服务手册》
          服务项目、流程、规范一目了然。服务包括保养服务或滤芯服务
          并有全车32项安全检查。保养全程录像，接受您的监督
        </div>
      </div>
    </div>

    <div class="item pull-left">
      <div class="img pull-left">
        <%= image_tag "static_pages/fuwuliucheng/5.png" %>
      </div>
      <div class="l pull-left odd" style='margin-top: 50px;'>
        <div class="title">
          订单完成
        </div>
        <div class="desc">
          当小卡技师为您服务完毕后，您可以进行现场结账，
          结账方式包括刷卡和现金。同时，您可以对本次服务评价，
          您反馈的信息会成为技师考核标准，帮助我们不断提高和完善服务水平。
        </div>
      </div>
    </div>

    <div class="item pull-left">
      <div class="img pull-right">
        <%= image_tag "static_pages/fuwuliucheng/6.png" %>
      </div>
      <div class="l pull-right even">
        <div class="title">
          检测报告
        </div>
        <div class="desc">
          订单完成后，您可以到微信/网站的个人中心，查看车检报告
        </div>
      </div>
    </div>
  </div>
</div>
