<div class="main clearfix static-pages">
  <div class="icon pull-left">
    <%= image_tag "static_pages/huandianping/icon.png"%>
  </div>
  <div class="icon-desc pull-left">
    <div class="first-desc pull-left">
      搭电救援
    </div>
    <br/>
    <div class="second-desc pull-left">
      回收蓄电池
    </div>
  </div>
  <div class="content huandianping pull-left">
    <div class="zhouqi pull-left">
      <div class="img pull-left">
        <%= image_tag "static_pages/huandianping/dianping.jpg"%>
      </div>
      <div class="img-content pull-left">
        <span class="highlight">电瓶</span>，又称为蓄电池。它的作用是供给发动机用电，车辆启动时，蓄电池会放电给起动机提供电力，并由起动机带动飞轮、曲轴转动，从而发动车辆。在发动机供电不足或者未启动时为车内用电器如音响系统、照明系统等提供电源，当发动机开始正常供电之后，蓄电池则会收集并储存电能，以备日后使用。
      </div>
    </div>
    <div class="description pull-left">
      <div class="highlight pull-left">
        更换周期
      </div>
      <div class="genghuan-content pull-left">
        3-5年，卡拉丁的更换电瓶服务，选用可靠品质的博世蓄电池，可有偿回收电瓶。
      </div>
    </div>
    <div class="dianpingjieshao pull-left">
      <div class="jieshao pull-left">
        电瓶介绍
      </div>
      <div class="boshis3 pull-left">
        <div class="img text-center">
          <%= image_tag "static_pages/huandianping/huandianping1.jpg"%>
        </div>
        <div class="desc text-center">
          博世S3动能免维护蓄电池
        </div>
        <div class="notice text-center">
          兼具安全性和耐用性
        </div>
        <div class="detail-desc pull-left">
          <span class="adapter">适用于</span>各种乘用车、货车和其它耗能零部件较少的商用车。它提供恒定可靠的起动功率，具备免维护的便利。 融合钙技术和拉网式板栅，S3 免维护系列兼具可靠的起动功率和较长使用周期。
        </div>
        <div class="special-desc pull-left">
          <div class="img-content pull-left">
            <div class="img-adapter pull-left">
              <%= image_tag "static_pages/huandianping/xingzhuang.png", :class => "img" %>
              采用现代钙技术，免维护
            </div>
          </div>
          <div class="img-content pull-left">
            <div class="img-adapter pull-left">
              <%= image_tag "static_pages/huandianping/xingzhuang.png", :class => "img" %>
              转变传统电池的杰出方案
            </div>
          </div>
          <div class="img-content pull-left">
            <%= image_tag "static_pages/huandianping/xingzhuang.png", :class => "img" %>
            兼具高性能和较长使用寿命
          </div>
          <div class="img-content pull-left">
            <%= image_tag "static_pages/huandianping/xingzhuang.png", :class => "img" %>
            经济，是耗能零部件较少的传统车辆之理想选择
          </div>
        </div>
      </div>

      <div class="boshis4 pull-left">
        <div class="img text-center">
          <%= image_tag "static_pages/huandianping/huandianping2.jpg" %>
        </div>
        <div class="desc text-center">
          博世S4动力神免维护蓄电池
        </div>
        <div class="notice text-center">
          适用于各种现代车辆
        </div>
        <div class="detail-desc pull-left">
          <span class="adapter">适用于</span>各种客车。免维护博世电池 S4 符合各种车辆的电气需求，确保可靠电供应，始终保持耗能零部件正常工作。采用拉网式板栅提供更高的冷启动功率和更长的使用寿命。
        </div>
        <div class="special-desc pull-left">
          <div class="img-content pull-left">
            <%= image_tag "static_pages/huandianping/xingzhuang.png", :class => "img" %>
            采用迷宫式封盖，安全性高，防渗漏
          </div>
          <div class="img-content pull-left">
            <div class="img-adapter pull-left">
              <%= image_tag "static_pages/huandianping/xingzhuang.png", :class => "img" %>
              工厂密封和全免维护
            </div>
          </div>
          <div class="img-content pull-left">
            <div class="img-adapter pull-left">
              <%= image_tag "static_pages/huandianping/xingzhuang.png", :class => "img" %>
              高抗振，内部采用弹性肋
            </div>
          </div>
          <div class="img-content pull-left">
            <%= image_tag "static_pages/huandianping/xingzhuang.png", :class => "img" %>
            符合相关标准和主要制造商规范
          </div>
        </div>
      </div>

      <div class="boshis5 pull-left">
        <div class="img text-center">
          <%= image_tag "static_pages/huandianping/huandianping3.jpg" %>
        </div>
        <div class="desc text-center">
          博世S5银侠免维护蓄电池

        </div>
        <div class="notice text-center">
          超大功率和突出的使用寿命
        </div>
        <div class="detail-desc pull-left">
          <span class="adapter">适用于</span>复杂和耗能的车辆。
          采用银合金技术，S5 超越了汽车制造商规定的国际标准。S5 比传统电池多提供更高的冷启动功率和更长的寿命。
        </div>
        <div class="special-desc pull-left">
          <div class="img-content pull-left">
            <%= image_tag "static_pages/huandianping/xingzhuang.png", :class => "img" %>
            博世银技术提供更大功率和更长使用寿命
          </div>
          <div class="img-content pull-left">
            <%= image_tag "static_pages/huandianping/xingzhuang.png", :class => "img" %>
            即便在寒冷或酷热的气候下也能强劲启动
          </div>
          <div class="img-content pull-left">
            <%= image_tag "static_pages/huandianping/xingzhuang.png", :class => "img" %>
            支持配置如声音系统和自动滑动门等安全系统的车辆
          </div>
          <div class="img-content pull-left">
            <%= image_tag "static_pages/huandianping/xingzhuang.png", :class => "img" %>
            具有防泄漏、专利迷宫式密封盖和双重回火保护
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
