<div class="main">
  <div class="icon">
    <%= image_tag "static_pages/jiyoujilv/icon.png" %>
  </div>

  <div class="content jiyoujilv clearfix">
    <div class="pull-left jiyou">
      <div class="pull-left left-part">

        <div class="jiyou-desc pull-left">
          <div class="jiyou-img pull-left">
            <%= image_tag "static_pages/jiyoujilv/jiyou.jpg" %>
          </div>

          <div class="jiyou-content pull-left">
            <span class='highlight'>机油</span>，即发动机润滑油，作为汽车的血液，它有润滑减磨、冷却降温、清洗清洁、密封防漏、防锈防蚀等作用。经过长期的使用，机油内会混入灰尘和杂质，需要定期更换。
          </div>
        </div>

        <div class="geng-huan pull-left">
          <div class="title">
            更换周期
          </div>
          <div class="desc">
            日系及韩系车大多是5000公里或者半年，欧美的车则大多数是7500公里或者半年。根据油品的不同更换周期也不一样，一般来说，矿物油的更换周期是半年或5000公里，半合成油是半年或者7500公里，全合成油则是半年或者10000公里。如果驾驶环境恶劣，应适当缩短机油更换周期。
          </div>
        </div>

        <div class="partners pull-left">
          <div class="title">
            合作伙伴
          </div>
          <div class="icon-list">
            <%= image_tag "static_pages/jiyoujilv/haiwan.jpg" %>
            <%= image_tag "static_pages/jiyoujilv/jiashiduo.jpg" %>
            <%= image_tag "static_pages/jiyoujilv/kepai.jpg" %>
            <%= image_tag "static_pages/jiyoujilv/meifu.jpg" %>
          </div>
        </div>
      </div>

      <div class="pull-right right-part">
        <%= image_tag "static_pages/jiyoujilv/man.png", class: 'man' %>
        <div class="test32">
          赠送32项全车安全监测
        </div>
      </div>
    </div>

    <div class="pull-left jilv">

      <div class="pull-left left-part">
        <div class="jilv-img pull-left">
          <%= image_tag "static_pages/jiyoujilv/jilv.jpg" %>
        </div>

        <div class="jilv-content pull-left">
          <span class="highlight">
            机油滤清器
          </span>
          用于去除机油中的灰尘、金属颗粒、碳沉淀物和煤烟颗粒等杂质，保护发动机。更换机油时务必更换质量合格的机油滤清器，否则旧滤清器内25%左右的污染物会重新进入机油中循环，增加发动机磨损机会，同时降低新机油的使用性能
        </div>

        <div class="geng-huan pull-left">
          <div class="title">
            更换周期
          </div>
          <div class="desc">
            与机油更换周期相同甚至频率更高。
          </div>
        </div>
      </div>

      <div class="right-part pull-left">
        <div class="partners pull-left">
          <div class="title">
            合作伙伴
          </div>
          <div class="icon-list">
            <%= image_tag "static_pages/jiyoujilv/hangesite.jpg" %>
            <%= image_tag "static_pages/jiyoujilv/manpailvqingqi.jpg" %>
            <%= image_tag "static_pages/jiyoujilv/male.jpg" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
