<div class="main static-pages">
  <div class="icon">
    <%= image_tag "static_pages/jiyousanlv/icon.png" %>
    <div class="titles">
      <div class="first-title">
        机油三滤 + 32项全车安全检测
      </div>
      <div class='sub-title'>
        发动机动力保证
      </div>
    </div>

    <%= link_to "立即下单", new_car_select_orders_path(type: 'bmt'), class: 'order-btn pull-right'%>
  </div>

  <div class="content jiyousanlv clearfix">
    <div class="pull-left top">
      <%= image_tag "static_pages/jiyousanlv/top.jpg" %>
    </div>

    <div class="middle-1 pull-left">
      <div class="jiyou-desc pull-left">
        <div class="jiyou-img pull-left">
          <%= image_tag "static_pages/jiyoujilv/jiyou.jpg" %>
        </div>

        <div class="jiyou-content pull-left">
          <span class='highlight'>机油</span>，即发动机润滑油，作为汽车的血液，它有润滑减磨、冷却降温、清洗清洁、密封防漏、防锈防蚀等作用。经过长期的使用，机油内会混入灰尘和杂质，需要定期更换。
        </div>
      </div>

      <div class="geng-huan pull-left">
        <div class="title">
          更换周期
        </div>
        <div class="desc">
          日系及韩系车大多是5000公里或者半年，欧美的车则大多数是7500公里或者半年。根据油品的不同更换周期也不一样，一般来说，矿物油的更换周期是半年或5000公里，半合成油是半年或者7500公里，全合成油则是半年或者10000公里。如果驾驶环境恶劣，应适当缩短机油更换周期。
        </div>
      </div>

      <div class="partners pull-left">
        <div class="title">
          合作伙伴
        </div>
        <div class="icon-list">
          <%= image_tag "static_pages/jiyoujilv/haiwan.jpg" %>
          <%= image_tag "static_pages/jiyoujilv/jiashiduo.jpg" %>
          <%= image_tag "static_pages/jiyoujilv/kepai.jpg" %>
          <%= image_tag "static_pages/jiyoujilv/meifu.jpg" %>
        </div>
      </div>
    </div>

    <div class="middle-2 pull-left">
      <div class="pull-left left-part jilv-desc">
        <div class="jilv-img pull-left">
          <%= image_tag "static_pages/jiyoujilv/jilv.jpg" %>
        </div>

        <div class="jilv-content pull-left">
          <span class="highlight">
            机油滤清器
          </span>
          用于去除机油中的灰尘、金属颗粒、碳沉淀物和煤烟颗粒等杂质，保护发动机。更换机油时务必更换质量合格的机油滤清器，否则旧滤清器内25%左右的污染物会重新进入机油中循环，增加发动机磨损机会，同时降低新机油的使用性能
        </div>

        <div class="geng-huan pull-left">
          <div class="title">
            更换周期
          </div>
          <div class="desc">
            与机油更换周期相同甚至频率更高。
          </div>
        </div>

        <div class="partners pull-left">
          <div class="title">
            合作伙伴
          </div>
          <div class="icon-list">
            <%= image_tag "static_pages/jiyoujilv/hangesite.jpg" %>
            <%= image_tag "static_pages/jiyoujilv/manpailvqingqi.jpg" %>
            <%= image_tag "static_pages/jiyoujilv/male.jpg" %>
          </div>
        </div>
      </div>

      <div class="pull-left right-part konglv-desc">
        <div class="konglv-img pull-left">
          <%= image_tag "static_pages/jiyousanlv/konglv.jpg" %>
        </div>

        <div class="konglv-content pull-left">
          <span class="highlight">
            空气滤清器
          </span>
            在汽油发动机的车辆上都必须有此装置，主要作用是过滤掉进气中的灰尘和杂质，保证进气的纯净，从而保护发动机。空气滤清器经过长期使用，过滤性能会下降，并且会影响发动机进气。
        </div>

        <div class="geng-huan pull-left">
          <div class="title">
            更换周期
          </div>
          <div class="desc">
            通常建议客户每行驶1.5万公里或1年更换一次；经常在恶劣环境中工作的车辆应当1万公里内更换一次。
          </div>
        </div>

        <div class="partners pull-left">
          <div class="title">
            合作伙伴
          </div>
          <div class="icon-list">
            <%= image_tag "static_pages/jiyoujilv/hangesite.jpg" %>
            <%= image_tag "static_pages/jiyoujilv/manpailvqingqi.jpg" %>
            <%= image_tag "static_pages/jiyoujilv/male.jpg" %>
          </div>
        </div>
      </div>
    </div>

    <div class="bottom pull-left">

      <div class="left-part pull-left">

        <div class="pm25-img pull-left">
          <%= image_tag "static_pages/jiyousanlv/pm25.jpg" %>
        </div>

        <div class="pm25-content pull-left">
          <span class="highlight">空调滤清器</span>  空调滤清器可以过滤从外界进入车厢内部的空气，使空气的洁净度提高，保护车内人员的身体健康。一般的过滤物质是指空气中所包含的杂质、微小颗粒物、花粉、细菌、工业废气和灰尘等。
        </div>

        <ul class='pull-left'>
          <li>
          <span class="dot"></span>
            <span class="highlight">卡拉丁第三代</span>  空调滤清器PM2.5过滤效果最高可达99%，无论外空气环境多恶劣，都能让车内PM2.5浓度在50以内，达国家一级优良空气标准；
          </li>

          <li>
          <span class="dot"></span>
           <span class="highlight">卡拉丁第四代</span>  空调滤清器采用行业领先技术，除了拥有PM2.5过滤技术和汽车尾气活性炭吸附功能外，还会有抗菌和防霉功能。独有的四层过滤净化技术能最大限度阻隔过滤车中各类有害气体。
          </li>

          <li>
          <span class="dot"></span>
            经广东省微生物分析检测中心权威检测，卡拉丁第四代车用空调滤清器对大肠杆菌、金黄色葡萄球菌抗菌率可高达99.99％，白色念珠菌抗菌率可高达99.98％。
          </li>

          <li>
          <span class="dot"></span>
            经国家空调设备质量监督检测中心检测，在吹风速度300m³/h测试条件下，卡拉丁车用空调滤清器PM2.5一次通过净化效率可达91.2%，部分车型净化效率可高达99%。
          </li>

        </ul>
        <div class="geng-huan pull-left">
          <div class="title">
            更换周期
          </div>
          <div class="desc">
            3-6个月。卡拉丁自主研发防雾霾空调滤清器，建议您定期更换，保证最佳过滤效果。
          </div>
        </div>
      </div>

      <div class="right-part pull-left">
        <%= image_tag "static_pages/jiyousanlv/pm25fangmai.jpg" %>
      </div>

    </div>

  </div>
</div>
