<div class="main clearfix static-pages">
  <div class="icon pull-left">
    <%= image_tag "static_pages/pm25/icon.png" %>
  </div>
  <div class="icon-desc pull-left" >
    <div class="first-desc pull-left" >
      告别重度雾霾
    </div>
    <br/>
    <div class="second-desc pull-left" >
      坐享车内清新
    </div>
  </div>
  <div class="content pm25 pull-left" >
    <div class="lvqingqi pull-left">
      <%= image_tag "static_pages/pm25/lvqingqi.jpg", :class=>"img" %>
    </div>
    <div class="jiancezhongxin pull-left">
      <div class="left-part pull-left">
        <%= image_tag "static_pages/pm25/huoxingtan.jpg", :class=>"top-img" %>
        <%= image_tag "static_pages/pm25/kangjunjijibu.jpg", :class=>"bottom-img" %>
      </div>
      <div class="right-part pull-left">
        <div class="first text-center">
          卡拉丁第四代空调滤清器采用行业领先技术，<br/>独有四层过滤净化技术能最大限度阻隔过滤车中各类有害气体。<br/>除了拥有PM2.5过滤技术和汽车尾气活性炭吸附功能外，还会有抗菌和防霉功能。<br/>防霾、抗菌、祛味及防霉四大功效，更能从容应对各类天气及复杂路况。
        </div>
        <div class="second text-center">
          <%= image_tag "static_pages/pm25/fenxijiance.jpg", :class=>"sec-font" %>
        </div>
        <div class="third text-center" >
          卡拉丁第四代车用空调滤清器<br/>对大肠杆菌、金黄色葡萄球菌抗菌率可高达<span class="baifenbi">99.99％<br/></span>
          白色念珠菌抗菌率可高达<span class="baifenbi">99.98％</span>
        </div>
        <div class="fourth text-center">
          <%= image_tag "static_pages/pm25/jiandujiance.jpg", :class=>"fou-font" %>
        </div>
        <div class="fifth text-center">
          在吹风速度300m³/h测试条件下<br/>卡拉丁车用空调滤清器PM2.5一次通过净化效率可达<span class="baifenbi">91.2%<br></span>部分车型净化效率可高达<span class="baifenbi">99%</span>
        </div>
      </div>
    </div>
    <div class="genghuanzhouqi pull-left">
      <div class="biaoti pull-left">
        <span class="sub-biaoti">更换周期</span>: 3-6个月
      </div>
      <div class="desc pull-left">
        卡拉丁自主研发防雾霾空调滤清器，建议您定期更换，保证最佳过滤效果
      </div>
      <div class="dash pull-left">&nbsp;</div>
    </div>
    <div class="pm25weihai pull-left">
      <div class="biaoti pull-left">
        <span class="sub-biaoti">PM2.5的危害</span>
      </div>
      <div class="desc pull-left">
        <span class="sub-desc pull-left">PM2.5是指大气中直径小于或等于2.5微米的颗粒物，也称为可入肺颗粒物。直径不到人的头发丝粗细的1/20。对空气质量和能见度等有重要的影响。科学家用PM2.5表示每立方米空气中这种颗粒的含量，值越高代表空气污染越严重。</span><br/>
        <span class="sub-desc pull-left">气象专家和医学专家认为，由细颗粒物造成的灰霾天气对人体健康的危害甚至要比沙尘暴更大。被吸入人体后会进入支气管，干扰肺部的气体交换，引发包括哮喘、支气管炎和心血管病等方面的疾病。世界卫生组织已经宣布，PM2.5超标会导致肺癌和心血管疾病。</span><br/>
        <span class="sub-desc pull-left">美国医学会杂志曾报道，如果空气中PM2.5的浓度长期高于10微克/m³，死亡的风险就会开始上升。浓度每增加10微克/m³,总死亡风险就升高4%，得心肺疾病的死亡风险就升高6%，得肺癌的死亡风险上升8%。中国的PM2.5已经高于50接近80微克/m³，对人体危害极大。</span>
      </div>
    </div>
    <div class="cheneipm25 pull-left">
      <div class="biaoti pull-left">
        <span class="sub-biaoti">车内PM2.5的危害</span>
      </div>
      <div class="desc pull-left">
        <span class="sub-desc pull-left">调查显示，超过80%的车主平均每天开车的时间在2个小时以内。而在北上广等一线城市，每天还要忍受堵车和缓慢的行驶状态，空气中PM2.5的浓度每增加10微克/m³,总死亡风险就升高4%。中国的PM2.5已经高于50接近80微克/m³，对人体危害极大。</span><br/>
        <span class="sub-desc pull-left">PM2.5浓度最高的地方室外为马路边、大公交站旁边，室内为厨房和不禁烟的餐厅。汽车尾气对PM2.5的影响很大，有检测发现，在北京中心城区堵车时，PM2.5浓度会增加4—6倍。每天早晚的上下班高峰是路上汽车最多的时候，所以该时段的PM2.5浓度也最高。绿色和平组织所作的对比试验显示，一天中约有37.83%的时间呆在室外的出租司机，远比长时间呆在室内的办公族吸入更多的PM2.5，并沉积在肺内。</span>
      </div>
    </div>
    <div class="kongtiaolvxin pull-left">
      <div class="biaoti pull-left">
        <span class="sub-biaoti">为什么要定期更换车用空调滤芯?</span>
      </div>
      <div class="lvxin-list pull-left">
        <div class="lvxin-item pull-left">
          <div class="lvxin-title pull-left">
            <span class="lvxin-sub-number pull-left">1.</span>空气污染严重：
          </div>
          <div class="lvxin-content pull-left">
            近几年国内多数城市和地区都面临严重的空气污染问题，尤其是对人体健康危害极大的直径为PM2.5微米的超细颗粒浓度严重超标，对于驾车行驶在城市道路上的司乘人员构成直接的健康威胁。选择优质的具有过滤PM2.5颗粒效果的空调滤芯并按时更换显得越来越重要。
          </div>
        </div>
        <div class="lvxin-item pull-left">
          <div class="lvxin-title pull-left">
            <span class="lvxin-sub-number pull-left">2.</span>春天沙尘暴及花粉期：
          </div>
          <div class="lvxin-content pull-left">
            黄沙及花粉不仅容易诱发皮肤敏感，而且其中包含的肉眼看不见的细小微粒，也会对人体有负面影响。
          </div>
        </div>
        <div class="lvxin-item pull-left">
          <div class="lvxin-title pull-left">
            <span class="lvxin-sub-number pull-left">3.</span>夏天开空调时：
          </div>
          <div class="lvxin-content pull-left">
            夏天使用空调时，无论是外界流入的空气还是车内循环的空气都含有肉眼看不见的有害灰尘，这时必须安装并使用过滤器。
          </div>
        </div>
        <div class="lvxin-item pull-left">
          <div class="lvxin-title pull-left">
            <span class="lvxin-sub-number pull-left">4.</span>秋天落时节：
          </div>
          <div class="lvxin-content pull-left">
            秋天落叶的碎片进入车辆空调系统内部时，会导致车内产生霉味（我们在更换过滤器时可以看到这些落叶的碎片）。
          </div>
        </div>
        <div class="lvxin-item pull-left">
          <div class="lvxin-title pull-left">
            <span class="lvxin-sub-number pull-left">5.</span>冬天开空调时：
          </div>
          <div class="lvxin-content pull-left">
            会产生和夏天开空调时同样的问题，因此必须定期更换过滤器。
          </div>
        </div>
        <div class="lvxin-item pull-left">
          <div class="lvxin-title pull-left">
            <span class="lvxin-sub-number pull-left">6.</span>过敏体质：
          </div>
          <div class="lvxin-content pull-left">
            汽车制冷或加热时吸入外界浑浊空气，会使你的眼睛感觉刺痛或流眼泪，则属于过敏体质的驾驶员。
          </div>
        </div>
        <div class="lvxin-item pull-left">
          <div class="lvxin-title pull-left">
            <span class="lvxin-sub-number pull-left">7.</span>携带儿童：
          </div>
          <div class="lvxin-content pull-left">
            儿童对于空气尤其敏感，因此经常携带儿童驾车同行的人应注意，一定要安装并使用空气过滤器。
          </div>
        </div>
      </div>
    </div>
    <div class="yanzhongwuranwu pull-left">
      <div class="biaoti pull-left">
        车内空气中的气体严重污染物
      </div>
      <%= image_tag "static_pages/pm25/yanzhongwuranwu.jpg", :class=>"wuranwu-img" %>
    </div>
    <div class="zhengzhuangjiwenti pull-left">
      <div class="biaoti pull-left">
        车内空气症状及问题
      </div>
      <%= image_tag "static_pages/pm25/zhengzhuangjiwenti.jpg", :class=>"wenti-img" %>
    </div>
    <div class="shiyongwenda pull-left">
      <div class="biaoti pull-left">
        空调滤芯使用问答
      </div>
      <div class="wenda-list pull-left">
        <div class="wenda-item pull-left">
          <div class="wenda-title pull-left">
            <span class="wenda-icon pull-left">Q1</span>
            <span class="wenda-sub-title pull-left">安装完PM2.5滤芯后，如何使用？</span>
          </div>
          <div class="item-content pull-left">
            每次车辆启动后，关闭车窗，打开车辆外循环，并将风速开致最大档，保持3或5分钟换气（此时车内的空气已经基本净化完毕，实测PM2.5净化效果可达90%以上）；之后，可以将风速降低到正常状态或者切换至内循环正常风速状态即可。
          </div>
        </div>
        <div class="wenda-item pull-left">
          <div class="wenda-title pull-left">
            <span class="wenda-icon pull-left">Q2</span>
            <span class="wenda-sub-title pull-left">车辆在夏季或冬季使用空调或暖风对净化效果有无影响？</span>
          </div>
          <div class="item-content pull-left">
            没有任何影响。
          </div>
        </div>
        <div class="wenda-item pull-left">
          <div class="wenda-title pull-left">
            <span class="wenda-icon pull-left">Q3</span>
            <span class="wenda-sub-title pull-left">有媒体报道过，车辆开启内循环比开外循环更能有效防止雾霾，为什么你们说要开外循环呢？</span>
          </div>
          <div class="item-content pull-left">
            在正常驾驶条件下，司乘人员如果在关闭车窗前提下使用内循环时间超过10分钟就会出现缺氧、呼吸压迫感等症状，因此内循环根本不是解决车内雾霾的手段。
          </div>
        </div>
        <div class="wenda-item pull-left">
          <div class="wenda-title pull-left">
            <span class="wenda-icon pull-left">Q4</span>
            <span class="wenda-sub-title pull-left">在行驶过程中是否要始终关闭车窗？</span>
          </div>
          <div class="item-content pull-left">
            是的。如果开窗或开门，大量未经空调滤清器过滤的外界空气进入车内，将完全抵消净化效果。
          </div>
        </div>
        <div class="wenda-item pull-left">
          <div class="wenda-title pull-left">
            <span class="wenda-icon pull-left">Q5</span>
            <span class="wenda-sub-title pull-left">我可以不可以只够买卡拉丁的空调滤芯而不在现场安装？</span>
          </div>
          <div class="item-content pull-left">
            卡拉丁不提供空调滤芯的零售，即所有预约和购买的滤芯均需要由卡拉丁技师进行现场安装，如果客户拒绝现场安装，卡拉丁有权终止服务并收回滤芯。
          </div>
        </div>
        <div class="wenda-item pull-left">
          <div class="wenda-title pull-left">
            <span class="wenda-icon pull-left">Q6</span>
            <span class="wenda-sub-title pull-left">我的车还没有出质保期，更换你们的滤芯是否会影响车辆的质保期？</span>
          </div>
          <div class="item-content pull-left">
            更换空调滤清器的操作不会涉及您的爱车任何发动机动力系统以及车辆电子系统，绝不会影响车辆质保，可以放心使用。
          </div>
        </div>
        <div class="wenda-item pull-left">
          <div class="wenda-title pull-left">
            <span class="wenda-icon pull-left">Q7</span>
            <span class="wenda-sub-title pull-left">PM2.5滤芯是否会增大风阻？</span>
          </div>
          <div class="item-content pull-left">
            卡拉丁双效活性炭空调滤芯经过严格的风阻检测，在进风量为450立方米/小时的测试环境下，风降压差仅为126帕，满足未来国家乘用车空调滤清器标准（国标尚未公布实施，征询意见阶段）。但是随着安装后用户使用过程中，灰尘的吸附量增多会感觉风量有所降低，为了保证过滤效果，希望车主在雾霾高发地区按照建议更换周期及时更换。
          </div>
        </div>
        <div class="wenda-item pull-left">
          <div class="wenda-title pull-left">
            <span class="wenda-icon pull-left">Q8</span>
            <span class="wenda-sub-title pull-left">卡拉丁滤芯会不会比别的滤芯使用寿命短，许多品牌厂商都建议2年或3万公里才更换空调滤芯？</span>
          </div>
          <div class="item-content pull-left">
            首先，车辆使用环境决定更换周期长短，在三亚行驶的车辆更换滤芯的周期一定超过在北京行驶的车辆；其次，优质的滤芯能够过滤几乎所有的粉尘颗粒和肉眼看不到的PM2.5颗粒，它的使用寿命一定比低端的单效滤芯短。
          </div>
        </div>
        <div class="wenda-item pull-left">
          <div class="wenda-title pull-left">
            <span class="wenda-icon pull-left">Q9</span>
            <span class="wenda-sub-title pull-left">为什么我的车安装过你们的滤芯后没有达到90%以上的过滤效果呢？</span>
          </div>
          <div class="item-content pull-left">
            由于不同品牌的车辆通风系统结构和车辆使用时间长短不同，导致空调系统的密封和通风效果存在差异，在安装后PM2.5滤芯后的过滤效果存在个体差异，如果您对现场安装后的检测指标不满意，卡拉丁可以当场免费为您退货。
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
