<div class="main clearfix static-pages">
  <div class="icon pull-left">
    <%= image_tag "static_pages/qiyejieshao/icon.png" %>
  </div>
  <div class="content qiyejieshao pull-left" >
    <div class="jieshao pull-left">
      <div class="left-img pull-left">
        <%= image_tag "static_pages/qiyejieshao/kld_icon.jpg", :class=>"left-icon" %>
      </div>
      <div class="right-content pull-left">
        北京卡拉丁汽车技术服务有限公司，成立于2012年，是一家通过汽车养护技术研发与创新，并与移动互联网技术平台相结合，为广大汽车用户提供便捷养护服务的创新型汽车后市场服务提供商。卡拉丁是我国首家提出并形成规模化的上门汽车保养服务商，是汽车保养O2O理念的创领者。
      </div>
    </div>
    <div class="linian pull-left">
      <div class="linian-title pull-left">
        爱车新理念&nbsp;·&nbsp;自在新生活
      </div>
      <div class="linian-content pull-left">
        <div class="linian-content-first pull-left">
          “便捷、专注、可靠”是卡拉丁的服务理念。卡拉丁人以“价值、分享、责任”为创业理念，为用户创造价值，让员工分享成长，力所能及地贡献社会。
        </div>
        <div class="linian-content-second pull-left">
          上门汽车保养、上门汽车安全检测、上门更换车用防霾空调滤清器、上门更换车载蓄电池是卡拉丁现有四大标准化产品，未来还将拓展更多服务品类。卡拉丁自主研发的防霾空调滤清器，安装后防霾效果达95%+，让车内空气质量可达到国家一级标准。第四代全新升级空调滤清器，采用行业领先技术，独有的四层过滤净化技术能最大限度阻隔过滤车中各类有害气体。除了拥有PM2.5过滤技术和汽车尾气活性炭吸附功能外，还会有抗菌和防霉功能。防霾、抗菌、祛味及防霉四大功效，更能从容应对各类天气及复杂路况。
        </div>
      </div>
    </div>
    <div class="fuwubaozhang pull-left">
      <div class="fuwubaozhang-title pull-left">
        服务保障
      </div>
      <%= image_tag "static_pages/qiyejieshao/gouzhuanye.jpg", :class=>"gouzhuanye-img" %>
    </div>
    <div class="kaladingyuanjing pull-left">
      <div class="kaladingyuanjing-title pull-left">
        卡拉丁愿景
      </div>
      <%= image_tag "static_pages/qiyejieshao/youxiu.jpg", :class=>"youxiu-img" %>
    </div>
    <div class="kaladingfazhan pull-left">
      <div class="kaladingfazhan-title pull-left">
        卡拉丁的发展
      </div>
      <div class="kaladingfazhan-content pull-left">
        <span class="fazhan-first pull-left">卡拉丁目前的业务范围已经覆盖北京、上海、天津、广州、佛山、深圳、成都、西安、太原、大连、杭州、南京、合肥、武汉等14个城市，累计为数万车主提供过上门服务。</span><br/><span class="fazhan-second pull-left">2015年，我们还将把卡拉丁的理念和便利的服务扩展到更多城市，如果您是一名拥有梦想的创业者（团队）或者希望像我们一样希望用实际行动改善中国汽车后服务市场的服务品质，欢迎加入我们!</span><br/><span class="fazhan-third pull-left">告诉我们您来自哪个城市，把您的想法发到marketing@kalading.com</span><br/><span class="fazhan-fourth pull-left">卡拉丁目前可提供上门保养服务的车辆型已达1800+，自主研发的卡拉丁防霾空调滤清器已经覆盖车型达到1500+，我们会不断增加服务的车型满足更多用户的需要，也会不断增加防霾空调滤清器的覆盖面，让更多的车主“No霾in Car”!</span>
      </div>
    </div>
    <div class="foot-image text-center" >
      <%= image_tag "static_pages/qiyejieshao/foot_img.jpg" %>
    </div>
  </div>
</div>
