<div class="static-page special">
  <% case @static_pages
     when "fu-wu-liu-cheng" %>
      <%= render "fu_wu_liu_cheng" %>
    <% when "ji-you-ji-lv" %>
      <%= render "ji_you_ji_lv" %>
    <% when "ji-you-san-lv" %>
      <%= render "ji_you_san_lv" %>
    <% when "geng-huan-dian-ping"  %>
      <%= render "geng_huan_dian_ping" %>
    <% when "pm25" %>
      <%= render "pm25" %>
    <% when "qi-ye-jie-shao" %>
      <%= render "qi_ye_jie_shao" %>
    <% when "qi-ye-rong-yu" %>
      <%= render "qi_ye_rong_yu" %>
    <% when "fu-wu-ke-hu" %>
      <%= render "fu_wu_ke_hu" %>
    <% when "lian-xi-wo-men" %>
      <%= render "lian_xi_wo_men" %>
  <% end %>
</div>
