<nav class="header-others">
  <div class="kld-header">
    <div class="bac"></div>
    <div class="kld-header-wrap">
      <div class="kld-header-logo">
        <a href="/" class="kld-header-logo-img">
          <%= image_tag("new-index/logo.png")%>
        </a>
        <div class="kld-header-logo-slogan">
          <%= image_tag("new-index/slogan1.png")%>
        </div>
        <div class="address" title="服务地址">
          <a href="#">
            <span class="val">
              <span class="city"><%= current_city_name %></span>
              <span class="caret"></span>
            </span>
          </a>
        </div>
      </div>
      <ul class="kld-header-link">
        <li class="home <%= "active" if params[:action] == "new_index" %>">
          <a href="/" class="cl-effect-1" target="_blank">首页</a>
        </li>
        <li class="products <%= "active" if params[:action] == "new_car_select" %>">
          <a href=""  class="cl-effect-1" onclick="return false;">预约服务</a>

          <div class="sub2 hide">
            <div class="subbac"></div>
            <ul class="clearfix">
              <li>
                <a href="">大保养</a>
              </li>
              <li>
                <a href="">小保养</a>
              </li>
              <li>
                <a href="">PM2.5</a>
              </li>
              <li>
                <a href="">换电瓶</a>
              </li>
            </ul>
          </div>

        </li>
        <li class="service <%= "active" if params[:action] == "new_service_select" %>">
          <a href="http://www.flyme.cn" class="cl-effect-1" target="_blank">服务内容</a>

          <div class="sub2 hide">
            <div class="subbac"></div>
            <ul class="clearfix">
              <li>
                <a href="">服务流程</a>
              </li>
              <li>
                <a href="">自定义保养</a>
              </li>
              <li>
                <a href="">基础保养</a>
              </li>
              <li>
                <a href="">PM2.5</a>
              </li>
              <li>
                <a href="">换电瓶</a>
              </li>
            </ul>
          </div>
        </li>
        <li class="team">
          <a href="" class="cl-effect-1" class="cl-effect-1">城市团队</a>
          <div class="sub2 hide">
            <div class="subbac"></div>
            <ul class="clearfix">
              <li>
                <a href="">服务城市</a>
              </li>
              <li>
                <a href="">团队风采</a>
              </li>
            </ul>
          </div>
        </li>

        <li class="about">
          <a href="" class="cl-effect-1">关于我们</a>
        </li>

        <li class="contact">
          <a href="" class="cl-effect-1">联系我们</a>
        </li>

        <li class="log-btn">
          <% if !signed_in? %>
            <a href="#" id="login_btn" class="cl-effect-1">
              登陆
            </a>
          <% else %>
            <a href="#">退出</a>
          <% end %>
        </li>
      </ul>
    </div>
  </div>

</nav>
