<nav class="header-others">
  <div class="kld-header">
    <div class="bac"></div>
    <div class="kld-header-wrap">
      <div class="kld-header-logo">
        <a href="/" class="kld-header-logo-img">
          <%= image_tag("new-index/logo.png")%>
        </a>
        <div class="kld-header-logo-slogan">
          <%= image_tag("new-index/slogan-1.png")%>
        </div>
        <div class="address" title="服务地址">
          <a href="#">
            <span class="val">
              <span class="city"><%= current_city_name %></span>
              <span class="caret"></span>
            </span>
          </a>
        </div>
      </div>
      <% id = params[:id] %>
      <% type = params[:type] %>
      <% action = params[:action] %>
      <% controller = params[:controller] %>
      <ul class="kld-header-link">
        <li class="home <%= "active" if action == "new_index" %>">
          <a href="/" class="cl-effect-1">首页</a>
        </li>
        <li class="products <%= "active" if ['new_car_select','new_service_select','new_info_submit'].include?(action) %>">
          <a href="/orders/new_car_select?type=bmt"  class="cl-effect-1">预约服务</a>

          <div class="sub2 hide">
            <div class="subbac"></div>
            <ul class="clearfix">
              <li class="<%= "active" if type == 'bmt' %>">
                <%= link_to "机油三滤", new_car_select_orders_path(type: 'bmt'), class: 'order-btn', "data-type" => "bmt" %>
              </li>
              <li class="<%= "active" if type == 'smt' %>">
                <%= link_to "机油机滤", new_car_select_orders_path(type: 'smt'), class: 'order-btn', "data-type" => "smt" %>
              </li>
              <li class="<%= "active" if type == 'pm25' %>">
                <%= link_to "PM2.5空调滤芯", new_car_select_orders_path(type: 'pm25'), class: 'order-btn', "data-type" => "pm25" %>
              </li>
              <li class="<%= "active" if type == 'bty' %>">
                <%= link_to "更换电瓶", new_car_select_orders_path(type: 'bty'), class: 'order-btn', "data-type" => "bty" %>
              </li>
            </ul>
          </div>

        </li>
        <li class="service <%= "active" if controller == "static_pages" && action == "show" && ['fu-wu-liu-cheng','ji-you-san-lv','ji-you-ji-lv','pm25','geng-huan-dian-ping'].include?(id) %>">
          <a href="/static_pages/fu-wu-liu-cheng" class="cl-effect-1">服务内容</a>

          <div class="sub2 hide">
            <div class="subbac"></div>
            <ul class="clearfix">
              <li class="<%= "active" if id == 'fu-wu-liu-cheng' %>">
                <%= link_to "服务流程", static_page_path(id: 'fu-wu-liu-cheng') %>
              </li>
              <li class="<%= "active" if id == 'ji-you-san-lv' %>">
                <%= link_to "机油三滤", static_page_path(id: 'ji-you-san-lv') %>
              </li>
              <li class="<%= "active" if id == 'ji-you-ji-lv' %>">
                <%= link_to "机油机滤", static_page_path(id: 'ji-you-ji-lv') %>
              </li>
              <li class="<%= "active" if id == 'pm25' %>">
                <%= link_to "PM2.5空调滤芯", static_page_path(id: 'pm25') %>
              </li>
              <li class="<%= "active" if id == 'geng-huan-dian-ping' %>">
                <%= link_to "更换电瓶", static_page_path(id: 'geng-huan-dian-ping') %>
              </li>
            </ul>
          </div>
        </li>
        <li class="team <%= "active" if controller == "static_pages" && ['fu-wu-cheng-shi','tuan-dui-feng-cai'].include?(id) %>">
          <a href="/static_pages/fu-wu-cheng-shi" class="cl-effect-1" class="cl-effect-1">城市团队</a>
          <div class="sub2 hide">
            <div class="subbac"></div>
            <ul>
              <li class="<%= "active" if id == 'fu-wu-cheng-shi' %>">
                <a href="/static_pages/fu-wu-cheng-shi">服务城市</a>
              </li>
              <li class="<%= "active" if id == 'tuan-dui-feng-cai' %>">
                <a href="/static_pages/tuan-dui-feng-cai">团队风采</a>
              </li>
            </ul>
          </div>
        </li>

        <li class="about <%= "active" if ['static_pages','posts'].include?(controller) && ['posts_list','show'].include?(action) && (['qi-ye-jie-shao','fu-wu-ke-hu','qi-ye-rong-yu','lian-xi-wo-men'].include?(id) || params[:tag_id] == '15') %>">
          <a href="/static_pages/qi-ye-jie-shao" class="cl-effect-1">关于我们</a>
          <div class="sub2 hide">
            <div class="subbac"></div>
            <ul class="clearfix">

              <li class="<%= "active" if id == "qi-ye-jie-shao" %>">
                <a href="/static_pages/qi-ye-jie-shao">企业介绍</a>
              </li>
              <li class="<%= "active" if id == "fu-wu-ke-hu" %>">
                <a href="/static_pages/fu-wu-ke-hu">服务客户</a>
              </li>
              <li class="<%= "active" if id == "qi-ye-rong-yu" %>">
                <a href="/static_pages/qi-ye-rong-yu">企业荣誉</a>
              </li>
              <li class="<%= "active" if id == "lian-xi-wo-men" %>">
                <a href="/static_pages/lian-xi-wo-men">联系我们</a>
              </li>
              <li class="<%= "active" if params[:tag_id] == '15' %>">
                <%= link_to "媒体报道", list_posts_path(tag_id: 15) %>
              </li>
            </ul>
          </div>
        </li>

        <li class="knowledge <%= "active" if controller == "posts" && ['posts_list','show'].include?(action) && params[:tag_id] == '23' %> ">
          <%= link_to "用车知识", list_posts_path(tag_id: 23), class: 'cl-effect-1' %>
        </li>

        <li class="log-btn <%= "active" if controller == "users" %>">
          <% if !signed_in? %>
            <a href="#" id="login_btn" class="cl-effect-1">
              登录
            </a>
          <% else %>
            <%= link_to "个人中心", orders_users_path, class: 'cl-effect-1' %>
            <div class="sub2 hide">
              <div class="subbac"></div>
              <ul class="clearfix">
                <li class="<%= "active" if controller == "users" && action == "orders" %>">
                  <%= link_to "我的订单", orders_users_path %>
                </li>
                <li class="<%= "active" if controller == "users" && ['maintain_histories_list','maintain_history'].include?(action) %>">
                  <%= link_to "保养记录", maintain_histories_list_users_path %>
                </li>
                <li>
                  <%= link_to '登出', sessions_path, method: :delete %>
                </li>
              </ul>
            </div>

          <% end %>
        </li>
      </ul>
    </div>
  </div>
</nav>
