<%= simple_form_for [:admin, @account] do |f|%>
  <%= f.error_notification %>
  <%= f.simple_fields_for :diymenus do |diymenu| %>
    <%= render "diymenu_fields", f: diymenu %>
  <% end %>
  <%= link_to_add_association "添加一个DIY菜单", f, :diymenus, class: 'btn btn-primary' %>
  <div class= "actions">
    <%= f.button :submit, value: "保存", class: "btn btn-primary" %>
  </div>
<% end %>
