<% action = params["action"] %>
<div class="items">
  <ul class='menu'>
    <li class='<%= set_class action, "orders" %>'>
      <%= link_to "我的订单", orders_users_path  %>
    </li>
    <li class='<%= set_class action, "maintain_histories_list" %>'>
      <%= link_to "保养记录", maintain_histories_list_users_path %>
    </li>
    <!-- <li class='<%= set_class action, "cars" %>'>
      <%#= link_to "我的车辆", cars_users_path %>
    </li>
    <li class='<%= set_class action, "cars" %>'>
      <%#= link_to "优惠券", cars_users_path %>
    </li>
    <li class='<%= set_class action, "settings" %>'>
      <%#= link_to "个人信息", settings_users_path %>
    </li> -->
  </ul>
</div>


