<div class="order" id="order_<%= order["id"] %>">
  <ul class="order-list">
    <li class="order-item">
      <div class="top wait clearfix">
        <div class="datetime pull-left">
          <p class="pull-left">下单时间:<%= order["created_at"] %></p>
          <p class="pull-left">服务时间:<%= order["serve_datetime"] %></p>
        </div>
        <div class="status finish pull-right">
          <% if finished?(order) %>
            <%= image_tag("new-user/finish.png", :class => 'finish-img')%>
          <% else %>
            <span>
              <%= order['state'].split('-')[1] %>
            </span>
          <% end %>
        </div>
      </div>
      <div class="con clearfix">
        <div class="logo pull-left">

          <%= image_tag(order['brand_logo'], :class => 'logoimg')%>

          <p><%= order['model_engine_displacement'] %></p>
        </div>
        <ul class="item-price pull-left">
          <% order["parts"].each do |part| %>
            <li class="item clearfix">
              <div class="type pull-left">
                [<%= part["type"] %>] <%= part["brand"] %>
              </div>
              <div class="price pull-right">
                <%= part["price"] %> 元
              </div>
            </li>
          <% end %>
        </ul>
        <div class="total-price pull-left">
          <!-- <p class="origin">1234元</p> -->
          <p class="now"><%= order['total_price'] %>元</p>
        </div>

        <div class="more pull-left">
          <p>
            <%= link_to "订单详情", orders_detail_users_path(id: order["id"]) %>
          </p>

          <% if order['engineer'] %>
            <p class="technician">技师信息</p>
            <p class="phone hide">王小明：18800191819</p>
          <% end %>
        </div>

        <div class="operate pull-left comment">
          <% if can_cancel?(order) %>
            <div class="del">
              <%= link_to "取消订单", "#", class: "", "data-order" => order["id"] %>
            </div>
          <% end %>
          <% if can_comment?(order) %>
            <div class="cmt">
              <%= link_to "评价订单", "#", class: "", "data-order" => order["id"] %>
            </div>
          <% end %>

          <div class='again'>
            <%= link_to "再来一单", new_service_select_orders_path(car_id: order['car_id'], type: service_type_mapping(order['service_type'])) %>
          </div>
      </div>
    </li>
  </ul>
</div>


