
<%#= order %>

<div class="order" id="order_<%= order["id"] %>">
  <div class="top clearfix">
    <div class="datetime pull-left">
      保养时间：<%= order["serve_datetime"] %>
    </div>
    <!-- <div class="number pull-left">
      订单号：<%#= order['seq'] %>
    </div> -->
    <div class="state pull-left">
      <%= order['state'] %>
    </div>
  </div>
  <div class="order-detail clearfix">

    <div class="pull-left">
      <div class="order-title">
        <%#= image_tag("",width:"100%", class: "logo") %>
<<<<<<< HEAD
        <%= link_to order["auto_model"], order_path(order["id"]) %> 
=======
        <%= order["auto_model"] %> 上门保养
>>>>>>> 7d64bf80c709850de9aad5d179be66c769a58af8
      </div>

      <div class="items">
        <% order["parts"].each do |part| %>
          <div class="item">
            <div class="type pull-left">
              [<%= part["type"] %>] <%= part["brand"] %>
            </div>
            <div class="price pull-left">
              <%= part["price"] %>￥
            </div>
          </div>
        <% end %>
      </div>
    </div>

  </div>
  <div class="bottom clearfix">
    <div class="order-price pull-left">
      实付：
      <span class="price-num">
        ￥ <%= order["price"] %>
      </span>
    </div>

    <div class="comment pull-right">
      <% if can_cancel?(order) %>
        <div class="del">
          <%= link_to "取消订单", "#", class: "btn btn-default", "data-order" => order["id"] %>
        </div>
      <% end %>
      <% if can_comment?(order) %>
        <div class="cmt">
          <%= link_to "评价订单", "#", class: "btn btn-default", "data-order" => order["id"] %>
        </div>
      <% end %>
      <div class="order-status">
        <%= link_to "订单状态", "#", class: "btn btn-default" %>
      </div>
    </div>
  </div>

  <div class="status hidden clearfix">
    <% statuses = order_statuses(order) %>
    <% if statuses %>
      <% statuses.each_with_index do |status_hash, index| %>
        <div class="col-sm-3">
          <div class="content <%= "highlight" if status_hash[1] %> clearfix">
            <div class="number">
              <%= index + 1 %>
            </div>
            <div class="ct">
              <%= status_hash[0] %>
            </div>
          </div>
        </div>
      <% end %>
    <% else %>
      <div class="col-sm-12">
        <%= order["state"] %>
      </div>
    <% end %>
  </div>
</div>
