<% wheels = report['wheels'] %>

<div class="tire">

  <table class="table table-bordered">

    <tr>
      <td></td>
      <% wheels.each do |wheel|%>
        <td>
          <%= wheel_name_mapper wheel['name'] %>
        </td>
      <% end %>
    </tr>

    <tr>
      <td>胎压</td>

      <% wheels.each do |wheel|%>
        <td>
          <div class="state <%= wheel['factory_data'] ? 'on' : 'off' %>">
            <%= wheel['pressure'] %>
          </div>
        </td>
      <% end %>
    </tr>

    <tr>
      <td>出厂日子是否可检查</td>
      <% wheels.each do |wheel|%>
        <td>
          <div class="state <%= wheel['factory_data_checked'] ? 'on' : 'off' %>">
            <%= factory_data_checked_value_mapper wheel['factory_data_checked'] %>
          </div>
        </td>
      <% end %>
    </tr>

    <tr>
      <td>出厂日期</td>
      <% wheels.each do |wheel|%>
        <td>
          <div class="state <%= wheel['factory_data'] ? 'on' : 'off' %>">
            <%= wheel['factory_data'] %>
          </div>
        </td>
      <% end %>
    </tr>

    <tr>
      <td>花纹深度</td>
      <% wheels.each do |wheel|%>
        <td>
          <div class="state <%= wheel['tread_depth'] ? 'on' : 'off' %>">
            <%= wheel['tread_depth'] %>
          </div>
        </td>
      <% end %>
    </tr>
    <tr>
      <td>老化程度</td>
      <% wheels.each do |wheel|%>
        <td>
          <div class="state <%= status_class wheel['ageing_desc'] %>">
            <%= ageing_mapper wheel['ageing_desc'] %>
          </div>
        </td>
      <% end %>
    </tr>
    <tr>
      <td>胎面</td>
      <% wheels.each do |wheel|%>
        <td>
          <div class="state <%= status_class_arr wheel['tread_desc'] %>">
            <%= tread_desc_mapper wheel['tread_desc'] %>
          </div>
        </td>
      <% end %>
    </tr>
    <tr>
      <td>胎侧</td>
      <% wheels.each do |wheel|%>
        <td>
          <div class="state <%= status_class_arr wheel['sidewall_desc'] %>">
            <%= sidewall_desc_mapper wheel['sidewall_desc'] %>
          </div>
        </td>
      <% end %>
    </tr>

    <tr>
      <td>刹车片是否可检测</td>
      <% wheels.each do |wheel|%>
        <td>
          <div class="state <%= wheel['brake_pad_checked'] ? 'on' : 'off' %>">
            <%= brake_pad_checked_mapper wheel['brake_pad_checked'] %>
          </div>
        </td>
      <% end %>
    </tr>

    <tr>
      <td>刹车片厚度</td>
      <% wheels.each do |wheel|%>
        <td>
          <div class="state <%= wheel['brake_pad_thickness'] ? 'on' : 'off' %>">
            <%= wheel['brake_pad_thickness'] %>
          </div>
        </td>
      <% end %>
    </tr>
    <tr>
      <td>刹车盘</td>
      <% wheels.each do |wheel|%>
        <td>
          <div class="state <%= status_class_arr wheel['brake_disc_desc'] %>">
            <%= brake_disc_desc_mapper wheel['brake_disc_desc'] %>
          </div>
        </td>
      <% end %>
    </tr>
  </table>

</div>
