<%= title "车辆信息" %>

<div class="container user-info cars">

  <div class="row">
    <div class="col-md-12 title">
      车辆信息
    </div>
  </div>

  <div class="row">

    <%= render "users/menu" %>
    <div class="col-md-9 content">
      <div class="select-car">
        <div class="header">
          选择车辆
        </div>
        <div class="cars clearfix">

          <div class="select-cars">
            <% current_user.autos.each do |auto| %>
              <%= render "shared/car_item", auto: auto %>
            <% end %>
          </div>

          <div class="car pull-left col-sm-3">
            <%= link_to "添加车辆", "#", id: "add_car", class: 'btn btn-default' %>
          </div>
        </div>
      </div>

      <div class="maintain-histories">
        <div class="header">
          车辆保养记录
        </div>
        <div class="cards clearfix">
          <% @maintain_histories.each do |maintain_history| %>
            <div class="card pull-left">
              <div class="serve-datetime">
                <%= maintain_history["serve_datetime"] %>
              </div>

              <div class="report">
                <div class="car-num">
                  车牌号: <%= maintain_history["car_num"] %>
                </div>

                <div class="show">
                  <button>体检报告单</button>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<%= render "shared/select_car_modal" %>

<hr>

<%= @maintain_histories %>
