<!--
<% if @maintain_history %>
  <div class="maintain-histories-phone phone-page">
    <%= title "我的保养记录" %>
    <div class="report-body">
      <h3><%= @maintain_history['serve_datetime'] %>车辆体检报告</h3>
        <%= render "report_body", report: @maintain_history %>
    </div>
  </div>
<% else %>
<% end %>
-->


<div class="user-info">
  <div class="main">

    <div class="row user-info-main clearfix">
      <%= render "users/menu" %>
      <div class="col-md-10 content maintain-report">
        <div class="report">
          <%= render "report_body", report: @maintain_history%>



          <div role="tabpanel">

            <!-- Nav tabs -->
            <ul class="nav nav-tabs" role="tablist">
              <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Home</a></li>
              <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Profile</a></li>
              <li role="presentation"><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">Messages</a></li>
              <li role="presentation"><a href="#settings" aria-controls="settings" role="tab" data-toggle="tab">Settings</a></li>
            </ul>

            <!-- Tab panes -->
            <div class="tab-content">
              <div role="tabpanel" class="tab-pane active" id="home">...</div>
              <div role="tabpanel" class="tab-pane" id="profile">...</div>
              <div role="tabpanel" class="tab-pane" id="messages">...</div>
              <div role="tabpanel" class="tab-pane" id="settings">...</div>
            </div>

          </div>



        </div>
      </div>
    </div>

  </div>
</div>
