<%= title "我的订单" %>
<div class="user-info special">
  <div class="main">
    <div class="row user-info-main clearfix">
      <%= render "users/menu" %>
      <div class="col-md-10 content">
        <%= render "users/orders_list" %>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="comment_modal">
  <%= render "users/comment_tag" %>
</div>

<div class="modal fade" id="cancel_modal">
  <%= render "users/cancel_modal" %>
</div>

