<div class="my-orders-phone phone-page user-info">
  <%= render "shared/header", title: "我的订单" %>

  <div class="orders-list" style='margin-top: 64px'>
    <%= render "users/orders_list" %>
  </div>

  <%= render "shared/footer" %>
</div>

<div class="modal fade" id="comment_modal">
  <%= render "users/comment_tag" %>
</div>

<div class="modal fade" id="cancel_modal">
  <%= render "users/cancel_modal" %>
</div>
