<%= title "我的订单" %>

<div class="container user-info">

  <%# <%= @orders %>

  <div class="row">
    <div class="col-md-12 title">
      个人中心
    </div>
  </div>

  <div class="row">

    <%= render "users/menu" %>

    <div class="col-md-9 content">
      <div class="orders">
        <% @orders.each do |order| %>
          <div class="order">
            <div class="top clearfix">
              <div class="datetime pull-left">
                <%= order["serve_datetime"] %>
              </div>
              <div class="number pull-left">
                订单号: <%= order['seq'] %>
              </div>
            </div>
            <div class="order-detail clearfix">

              <div class="pull-left">
                <div class="order-title">
                  <%= order["auto_model"] %> 上门保养
                </div>

                <div class="items">
                  <% order["parts"].each do |part| %>
                    <div class="item">
                      [<%= part["type"] %>] <%= part["brand"] %>
                    </div>
                  <% end %>
                </div>
              </div>

              <div class="order-price pull-left">
                <%= order["price"] %> 元
              </div>

              <div class="comment pull-left">
                <div class="cmt">
                  <%= link_to "评价", "#", class: "btn btn-default orange-button", "data-order" => order["id"] %>
                </div>
                <div class="order-status">
                  <%= link_to "订单状态", "#" %>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="comment_modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">

        <% good_tags = ["客服预约环节流畅", "技师提前联系", "准时到达服务现场", "耐心等候", "着装整洁", "操作技术熟练", "主动讲解沟通", "机油、配件品质无误", "准确完成全部检测", "按时完成", "会向朋友推荐"] %>

        <% bad_tags = ["客服预约体验不好", "技师未提前联系", "技师迟到", "不够耐心", "仪容仪表不整洁", "操作不熟练", "服务态度不好", "配件携带错误", "服务超时", "服务漏项", "不会推荐给朋友"] %>

        <% good_tags.each_with_index do |tag, index| %>
          <div class="comment-tags">
            <div class="tags clearfix" data-toggle="buttons">
              <div class="tag good pull-left">
                <label class="btn btn-default">
                  <input type="radio" value="<%= tag %>"><%= tag %>
                </label>
              </div>

              <div class="tag bad pull-left">
                <label class="btn btn-default">
                  <input type="radio" value="<%= bad_tags[index] %>"> <%= bad_tags[index] %>
                </label>
              </div>
            </div>
          </div>
        <% end %>

        <div class="submit-comment">
          <button class='btn btn-default orange-btn'>提交评价</button>
        </div>
      </div>
    </div>
  </div>
</div>

