<div class="car pull-left col-sm-3">
  <div class="input-group btn-group">
    <span class="input-group-addon">
      <input type="radio" name="car_brand" aria-label="..." data-id="<%= auto.system_id %>" data-autoid= "<%= auto.id %>" data-car_num="<%= auto.license_number %>">
    </span>

    <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false" data-autoid = "<%= auto.id %>" data-id="<%= auto.system_id %>">
      <%= auto.brand %>
      <span class="caret"></span>
    </button>

    <div class="content dropdown-menu" role="menu">
      <ul>
        <li>品牌: &nbsp; <%= auto.brand %></li>
        <li>系列: &nbsp; <%= auto.series %></li>
        <li>型号: &nbsp; <%= auto.model_number %></li>

        <% if auto.id %>

          <li>车牌号: &nbsp; <%= auto.license_location %><%= auto.license_number %></li>
          <li>注册日期: &nbsp; <%= auto.registed_at %></li>
          <li>引擎号: &nbsp; <%= auto.engine_number %></li>
          <li>VIN: &nbsp; <%= auto.vin %></li>
        <% end %>

        <!--  TODO

        <li>
          <%= link_to "编辑", "#" %>
        </li>
        <li>
          <%= link_to "删除", "#" %>
        </li>
        -->
      </ul>
    </div>
  </div>
</div>
