<%= cache [current_city_id, "select_car"] do %>

  <% cars_info = Order.cars_data current_city_id %>

  <div class="form-horizontal selectors">
    <div class="form-group">
      <label for="car_name" class="col-sm-3 control-label">品牌: </label>
      <div class="col-sm-8">
        <select name="car_name" id="car_name" class="form-control">
          <option value="">选择品牌</option>

          <% cars_info.each do |car| %>
            <option value="<%= car['name'].strip %>">
              <%= car['name'] %>
            </option>
          <% end %>
        </select>
      </div>
    </div>

    <div class="form-group">
      <label for="car_type" class="col-sm-3 control-label">系列: </label>
      <div class="col-sm-8">
        <select name="car_type" id="car_type" class="form-control">
          <option value="">选择系列</option>
          <% cars_info.each do |car| %>
            <% car['ams'].each do |type| %>
              <option value="<%= type['name'].strip %>" class="<%= car['name'].strip %>">
                <%= type['name'].strip %>
              </option>
            <% end %>
          <% end %>
        </select>
      </div>
    </div>

    <div class="form-group">
      <label for="car_style" class="col-sm-3 control-label">型号: </label>
      <div class="col-sm-8">
        <select name="car_style" id="car_style" class="form-control">
          <option value="">选择型号</option>
          <% cars_info.each do |car| %>
            <% car['ams'].each do |type| %>
              <% type['asms'].each do |style| %>
                <option value="<%= style['name'].strip %>" data-id="<%= style['_id'] %>" class="<%= type['name'].strip %>">
                  <%= style['name'].strip %>
                </option>
              <% end %>
            <% end %>
          <% end %>
        </select>
      </div>
    </div>
  </div>
<% end %>
