<% cache ["home-phone", current_city_name] do %>
  <div class="home-phone phone-page">

    <div class="home-header">
      <div class="section">
        <div class="cell clearfix">
          <div class="brand pull-left">
            <%= link_to '/' do %>
              <%= image_tag 'logo-mobile.png' %>
            <% end %>
          </div>

          <div class="pull-right curr-city">
            <a href="#" id="current_city">
              <span class="location">
                <%= image_tag "location-pin.png" %>
              </span>

              <span class="city-name">
                <%= current_city_name %>
              </span>
            </a>
          </div>
        </div>
      </div>
    </div>


    <div class="carousel slide flexslider">
      <ul class="slides">
        <li>
          <%= link_to select_car_item_orders_path(type: 'pm25') do %>
            <%= image_tag("phone-home/banner/banner-1.jpg")%>
          <% end %>
        </li>
        <li>
          <%= link_to select_car_item_orders_path(type: 'pm25') do %>
            <%= image_tag("phone-home/banner/banner-2.jpg")%>
          <% end %>
        </li>
      </ul>
    </div>

    <div class="items clearfix">
      <div class="left">
        <div class="pm25 item" data-type="pm25">
          <%= link_to select_car_item_orders_path(type: 'pm25') do %>
            <%= image_tag("phone-home/pm25.png") %>
            <p class="tit">车内防霾滤芯</p>
            <p class="con">告别重度雾霾</p>
          <% end %>
        </div>

        <div class="bty item" data-type="bty">
          <%= link_to select_car_item_orders_path(type: 'bty') do %>
            <%= image_tag("phone-home/bty.png") %>
            <p class="tit">更换电瓶</p>
            <p class="con">搭电救援</p>
          <% end %>
        </div>
      </div>

      <div class="right">
        <div class="smt item" data-type="smt">
          <%= link_to select_car_item_orders_path(type: 'smt') do %>
            <%= image_tag("phone-home/smt.png") %>
            <p class="tit">机油机滤</p>
            <p class="con">更换机油、机滤</p>
          <% end %>
        </div>

        <div class="bmt item" data-type="bmt">
          <%= link_to select_car_item_orders_path(type: 'bmt') do %>
            <%= image_tag("phone-home/bmt.png") %>
            <p class="tit">机油三滤</p>
            <p class="con">机油三滤+32项检测</p>
          <% end %>
        </div>
      </div>


      <div class="left">
        <div class="item tmp" data-type="air-clean">
          <%= link_to no_car_type_orders_path(type: '3') do %>
            <p >空调风道清洗</p>
          <% end %>
        </div>

        <div class="item tmp" data-type="engine-clean">
          <%= link_to no_car_type_orders_path(type: '4') do %>
            <p >发动机舱清洁</p>
          <% end %>
        </div>
      </div>

      <div class="right">
        <div class="item tmp" data-type="tire-mt">
          <%= link_to no_car_type_orders_path(type: '5') do %>
            <p >轮胎养护</p>
          <% end %>
        </div>

        <div class="item tmp" data-type="dtc">
          <%= link_to no_car_type_orders_path(type: '6') do %>
            <p >车辆安全检测</p>
          <% end %>
        </div>
      </div>

    </div>

    <%= render "shared/footer" %>

  </div>
<% end %>
