<% content_for :javascripts do %>
  <%= javascript_include_tag "home", 'data-turbolinks-track' => true %>
<% end %>

<%= title "首页" %>
<%#= link_to "创建订单", select_car_orders_path %>
<%#= link_to "我的订单", orders_users_path %>
<%#= link_to "我的保养记录", maintain_histories_users_path %>
<%#= link_to "车辆信息", cars_users_path %>
<%# if signed_in? %>
  <!-- 你已经使用<%#= current_user.nickname %>的账户登陆 -->
<%# else %>
  <!-- 没登陆 -->
<%# end %>
<div class="index">
  <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
      <li data-target="#carousel-example-generic" data-slide-to="1"></li>
      <li data-target="#carousel-example-generic" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
      <div class="item active">
        <%= image_tag("slider.jpg")%>
      </div>
      <div class="item">
        <%= image_tag("slider.jpg")%>
      </div>
      <div class="item">
        <%= image_tag("slider.jpg")%>
      </div>
    </div>
    <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
  <div class="content">
    <div class="login-form">
    	<div class="form-bac bac-white"></div>
    	<div class="form-con">
  	  <h3 class="login-title">请您先登录</h3>
        <div class="field">
        	<input class="phone_num" id="phone_num" placeholder="手机号">
        	<input class="verification_code" placeholder="验证码" id="verification_code"/>
          <button class='get_code bac-orange font-white' id="get_code">获取验证码</button>
          <button id="submit_button" class="submit_button bac-orange font-white" disabled="disabled">登录</button>
        </div>

    	</div>
    </div>
    <div class="product">
      <h3 class="title">产品与服务</h3>
      <div class="content maintain-item">
    	  <dl>
      	  <dt class="bac-white">
      		<%= image_tag("air-condition.jpg", :class=> "logo")%>
      	  </dt>
          <dd class="bac hidden"></dd>
      	  <dd class="con">
      		  <h4 class="item-title">卡拉丁空调滤清器</h4>
      		  <span class="description">3分钟告别车内雾霾</span>
            <a href="/orders/select_car?type=pm25">
              <button class="order-btn">立即预定</button>
            </a>
      	  </dd>
    	  </dl>
    	  <dl>
      	  <dt class="bac-white">
      		<%= image_tag("air-condition.jpg", :class=> "logo")%>
      	  </dt>
          <dd class="bac hidden"></dd>
      	  <dd class="con">
      		  <h4 class="item-title">卡拉丁上门保养</h4>
      		  <span class="description">省时、省心、省钱</span>
      		  <a href="/orders/select_car?type=maintain">
              <button class="order-btn">立即预定</button>
            </a>
      	  </dd>
    	  </dl>
        <dl>
          <dt class="bac-white">
          <%= image_tag("air-condition.jpg", :class=> "logo")%>
          </dt>
          <dd class="bac hidden"></dd>
          <dd class="con">
            <h4 class="item-title">卡拉丁空调滤清器</h4>
            <span class="description">3分钟告别车内雾霾</span>
            <a href="/orders/select_car?type=pm25">
              <button class="order-btn">立即预定</button>
            </a>
          </dd>
        </dl>
      </div>
    </div>
    <div class="maintain-process">
      <h3 class="title">服务流程</h3>
      <ul class="content number">
        <li class="shot"><span></span><var></var></li>
        <li><span>1</span><var></var></li>
        <li><span>2</span><var></var></li>
        <li><span>3</span><var></var></li>
        <li class="last"><span>4</span></li>
        <li class="shot"><var></var><span></span></li>
      </ul>
      <ul class="item">
        <li>
          <h4>提交订单</h4>
          <span>您可以在产品与服务专栏按照流程提交您的订单</span>
        </li>
        <li>
          <h4>等待客服确认</h4>
          <span>当您的订单提交成功后我们的客服会及时与您联系</span>
        </li>
        <li>
          <h4>技师上门服务</h4>
          <span>我们的小卡技师会根据您提供的地址上门服务</span>
        </li>
        <li>
          <h4>订单完成</h4>
          <span>订单完成后，不要忘记到个人中心收取您的车辆检查报告</span>
        </li>
      </ul>
    </div>
    <ul class="menu">
      <li class="pm">PM2.5滤芯</li>
      <li class="know">用车知识</li>
      <li class="report">车检报告</li>
    </ul>
    <div class="guest">
      <h3 class="title">集团客户</h3>
      <ul class="content">
        <li><%= image_tag("picc.png", :class=> "picc")%></li>
        <li><%= image_tag("d.png", :class=> "d")%></li>
        <li><%= image_tag("m.png", :class=> "m")%></li>
        <li><%= image_tag("axa.png", :class=> "axa")%></li>
        <li><%= image_tag("blue.png", :class=> "blue")%></li>
      </ul>
    </div>
  </div>
</div>

