<% cache ["home-phone", current_city_name] do %>

  <% content_for :javascripts do %>
  <%= javascript_include_tag "home", 'data-turbolinks-track' => true %>
  <% end %>

  <div class="home-phone phone-page">

    <div class="home-header">
      <div class="section">
        <div class="cell clearfix">
          <div class="brand pull-left">
            <%= link_to '/' do %>
              <%= image_tag 'logo-mobile.png' %>
            <% end %>
          </div>

          <div class="pull-right curr-city">
            <a href="#" id="current_city">
              <span class="location">
                <%= image_tag "location-pin.png" %>
              </span>

              <span class="city-name">
                <%= current_city_name %>
              </span>
            </a>
          </div>
        </div>
      </div>
    </div>

    <div class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-example-generic" data-slide-to="1" ></li>
        <li data-target="#carousel-example-generic" data-slide-to="2" ></li>
        <li data-target="#carousel-example-generic" data-slide-to="3" ></li>
        <li data-target="#carousel-example-generic" data-slide-to="4" ></li>
        <!-- <li data&#45;target="#carousel&#45;example&#45;generic" data&#45;slide&#45;to="4" ></li> -->
      </ol>
      <div class="carousel-inner" role="listbox">
        <div class="item active">
          <a href="#">
            <%= image_tag("phone-home/banner/kld.jpg")%>
          </a>
        </div>
        <div class="item">
          <a href="/activities/thousand_special_right" target="_blank">
            <%= image_tag("phone-home/banner/thousand.jpg")%>
          </a>
        </div>
        <div class="item">
          <a href="activities/papago" target="_blank">
            <%= image_tag("phone-home/banner/papago.jpg")%>
          </a>
        </div>
        <div class="item">
          <a href="#">
            <%= image_tag("phone-home/banner/battery.jpg")%>
          </a>
        </div>
        <div class="item">
          <a href="#">
            <%= image_tag("activity/tiantian/mobile-banner.jpg")%>
          </a>
        </div>
      </div>
    </div>

    <div class="items clearfix">
      <div class="left">
        <div class="pm25 item" data-type="pm25">
          <%= link_to select_car_item_orders_path(type: 'pm25') do %>
            <%= image_tag("phone-home/pm25.png") %>
            <p class="tit">车内防霾滤芯</p>
            <p class="con">告别重度雾霾</p>
          <% end %>
        </div>

        <div class="bty item" data-type="bty">
          <%= link_to select_car_item_orders_path(type: 'bty') do %>
            <%= image_tag("phone-home/bty.png") %>
            <p class="tit">更换电瓶</p>
            <p class="con">搭电救援</p>
          <% end %>
        </div>
      </div>

      <div class="right">
        <div class="smt item" data-type="smt">
          <%= link_to select_car_item_orders_path(type: 'smt') do %>
            <%= image_tag("phone-home/smt.png") %>
            <p class="tit">机油机滤</p>
            <p class="con">更换机油、机滤</p>
          <% end %>
        </div>

        <div class="bmt item" data-type="bmt">
          <%= link_to select_car_item_orders_path(type: 'bmt') do %>
            <%= image_tag("phone-home/bmt.png") %>
            <p class="tit">机油三滤</p>
            <p class="con">机油三滤+32项检测</p>
          <% end %>
        </div>
      </div>
    </div>

    <%= render "shared/footer" %>

  </div>
<% end %>
