<div class="new-index">
	<%= image_tag("new-index/wrench.png",:class => 'wrench translate-wrench')%>
	<div class="con">
		<div class="product">
			<h4 class="tit"><span>产品服务</span>
        <!--
          <p class="rank">
            <span>第</span>
            <span class="num">232323</span>
            <span>位 感谢您的信赖</span>
          </p>
          -->
			</h4>
			<ul class="main clearfix">
				<li>
					<a href="/orders/new_car_select?type=bmt">
						<p class="key hide">机油三滤</p>
						<%= image_tag("new-index/bmt1.png",:class => 'pic1')%>
						<%= image_tag("new-index/bmt2.png",:class => 'pic2 hide')%>
					</a>
				</li>
				<li>
					<a href="/orders/new_car_select?type=smt">
						<p class="key hide">机油机滤</p>
						<%= image_tag("new-index/smt1.png",:class => 'pic1')%>
						<%= image_tag("new-index/smt2.png",:class => 'pic2 hide')%>
					</a>
				</li>
				<li>
					<a href="/orders/new_car_select?type=pm25">
						<p class="key hide">PM2.5空调滤芯</p>
						<%= image_tag("new-index/pm25.png",:class => 'pic1')%>
						<%= image_tag("new-index/pm252.png",:class => 'pic2 hide')%>
					</a>
				</li>
				<li>
					<a href="/orders/new_car_select?type=bty">
						<p class="key hide">更换电瓶</p>
						<%= image_tag("new-index/battery1.png",:class => 'pic1')%>
						<%= image_tag("new-index/battery2.png",:class => 'pic2 hide')%>
					</a>
				</li>

        <!--
				<li class="spe">
					<%#= image_tag("new-index/customer-num.png",:class => 'customer-num')%>
					<p class="rank"><span>第</span><span class="num">232323</span><span>位</span></p>
					<p>感谢您的信赖</p>
				</li>
        -->
			</ul>
		</div>
		<!-- <div class="activity">
			<h4 class="tit">活动专区</h4>
			<ul class="main clearfix">
				<li>
					<%= image_tag("new-index/")%>
					<p>天天用车活动</p>
				</li>
				<li>
					<%= image_tag("new-index/")%>
					<p>天天用车活动</p>
				</li>
				<li>
					<%= image_tag("new-index/")%>
					<p>天天用车活动</p>
				</li>
				<li>
					<%= image_tag("new-index/")%>
					<p>天天用车服务</p>
				</li>
			</ul>
		</div> -->
		<div class="service clearfix">
			<ul>
				<li class="tit">服务支持</li>
				<li>售后政策</li>
				<li>服务保障</li>
				<li>服务说明</li>
				<li>联系我们</li>
			</ul>
			<ul>
				<li class="tit">关于我们</li>
				<li>企业介绍</li>
				<li>企业荣誉</li>
				<li>新闻动态</li>
				<li>服务客户</li>
			</ul>
			<ul>
				<li class="tit">关于我们</li>
				<li>新浪微博</li>
				<li>官方微信</li>
			</ul>
			<ul>
				<li class="tit">客服热线</li>
				<li>400-006-8181</li>
				<li>周一至周日8:00-18:00</li>
			</ul>
		</div>
	</div>
</div>
