<input type="hidden" data-items="<%= @result %>">

<h4><%= @result['name'] %></h4>

<div class="form-horizontal item-list">

  <div class="form-group">
    <label class="col-sm-1 control-label">价格: </label>
    <div class="col-sm-11">
      <span class="price"></span>
      <span class="price original"></span>
      <span class="now">xxx元</span>
      <!-- <var class="reason reason1"></var> -->
      <!-- <var class="reason reason2"></var> -->
    </div>
  </div>

  <div class="form-group">
    <label class="col-sm-2 control-label">项目: </label>
    <div class="col-sm-10 item-box">

      <% parts = @result["applicable_parts"] %>
      <% filter_parts(parts, type).each do |part|  %>
        <div class="item clearfix">
          <% part_name = part.keys[0] %>
          <% part_items = part.values[0] %>

          <div class="part-checkbox pull-left">
            <input type="checkbox" class='part-selector' checked>
          </div>

          <div class="col-sm-10">
            <label class='col-sm-2'><%= part_name %></label>
            <select class="part form-control">
              <% select_index = selected_item_index(default_parts(@result), part_items)  %>
              <% part_items.each_with_index do |item, index| %>
                <% unless item["quantity"] == 0 %>
                  <%= render "item", name: part_name, item: item, selected: select_index == index %>
                <% end %>
              <% end %>
            </select>
          </div>
        </div>

      <% end %>

      <div class="item">
        <div class="part-checkbox pull-left">
          <input type="checkbox" disabled checked>
        </div>

        <div class="col-sm-11">
          <label class="col-sm-2">
            服务费
            <span class='service-price' data-price="<%= @result['service_price'] %>"><%= @result['service_price'] %></span>
          </label>
        </div>
      </div>

    </div>
  </div>

  <div class="form-group">
    <label class="col-sm-1 control-label">其他: </label>

    <div class="other col-sm-11">

      <div class="pull-left" style='width: 20px'>
        <input type="checkbox" id="no_parts">
      </div>

      <div class="pull-left col-sm-11">
        <label class='col-sm-4' for="no_parts">
          已有配件，仅购买上门服务
        </label>
      </div>
    </div>

  </div>

  <div class="form-group">
    <div class="col-sm-offset-1 col-sm-11">
      <button type="submit" class="btn btn-default order_button">下一步</button>
    </div>
  </div>
</div>
