<% if name == "机油" %>
  <option data-item-name="<%= name %>" data-brand="<%= brand %>" data-number="<%= number %>"><%= brand %> <%= number %></option>
<% else %>
  <option data-item-name="<%= name %>" data-brand="<%= brand %>" data-number="<%= number %>"><%= brand %></option>
<% end %>
