<!-- TODO 下面这个result 没用？-->
<input type="hidden" data-items="<%= @result %>">

<% activity = nil unless defined? activity %>
<% parts = @result["applicable_parts"] %>
<% to_next_step = false %>

<% filtered_parts = filter_parts(parts, type) %>

<div class="item-list">

  <div class="item-box">
    <% if filtered_parts.count == 0 %>
      <div class="no-parts-available">
        很抱歉，暂时无配件
      </div>
    <% else %>

      <% filtered_parts.each_with_index do |part, i|  %>

        <% part_name = part.keys[0] %>
        <% part_items = part.values[0] %>
        <% no_items = part_items.sum{ |e| e['quantity'] } == 0 %>
        <% to_next_step ||= !no_items %>

        <% if part_items.count > 0 && !no_items %>

          <div class="panel-group custom item-part" role="tablist">
            <div class="panel">
              <div class="panel-heading clearfix" role="tab" id="select_item_header_<%= i %>">
                <a class="selected-part" data-toggle="collapse" href="#select_item_<%= i %>" aria-expanded="false" aria-controls="select_item_<%= i %>">
                  <div class="pull-left part-name" data-name="<%= part_name %>">
                    未选择 <%= part_name %>
                  </div>
                  <div class="part-price pull-right">
                  </div>

                </a>
                <a class="anchorjs-link" href="#-collapsible-list-group-"><span class="anchorjs-icon"></span></a>
              </div>
              <div id="select_item_<%= i %>" class="panel-collapse collapse" role="tabpanel" aria-labelledby="select_item_header" aria-expanded="true">
                <ul class="list-group">
                  <% select_index = selected_item_index(default_parts(@result), part_items)  %>

                  <% part_items.each_with_index do |item, index| %>

                    <% if item["quantity"] != 0 %>

                      <li class="list-group-item clearfix">
                        <!-- 专门给易道活动的-->
                        <% if activity && custom_activity.include?(activity.name) %>
                          <% if part_name == "机油" %>
                            <!-- 机油 -->
                            <% item = yidao_filter(part_items, activity).first %>
                            <% if item %>
                              <%= render "item", name: part_name, item: item, selected: select_index == index %>
                              <% break %>
                            <% end %>
                          <% elsif part_name == "机滤" %>
                            <!-- 机滤 -->
                            <%= render "item", name: part_name, item: item, selected: select_index == index %>
                          <% else %>
                            <!-- 其他选项 -->
                            <%= render "item", name: part_name, item: item, selected: select_index == index %>
                          <% end %>
                        <% else %>
                            <%= render "item", name: part_name, item: item, selected: select_index == index %>
                        <% end %>
                      </li>
                    <% end %>
                  <% end %>

                  <li class="list-group-item clearfix">
                    <div class="item cancel-selected">
                      取消选择
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    <% end %>
  </div>


  <% if type != 'bty' &&  filtered_parts.count != 0 %>
    <div class="panel-group custom fee" role="tablist">
      <div class="panel quick-fee-select">
        <div class="panel-heading clearfix" role="tab" id="service_fee_header">
            <a class="service-fee selected" style='font-size: 16px;' data-toggle="collapse" href="#service_fee" aria-expanded="false" aria-controls="service_fee">

              <div class="pull-left">
                上门服务费
              </div>

              <div class="pull-right">
                ￥ <span class='service-price' data-price="<%= @result['service_price'] %>"><%= @result['service_price'] %></span>
              </div>

            </a>
            <a class="anchorjs-link" href="#-collapsible-list-group-"><span class="anchorjs-icon"></span></a></h4>
        </div>
        <div id="service_fee" class="panel-collapse collapse" role="tabpanel" aria-labelledby="select_fee_header" aria-expanded="true">

          <ul class="list-group">

            <li class="list-group-item clearfix" id="buy_parts">
              <div class="pull-left">
                购买配件，并上门服务
              </div>
              <div class="pull-right">
                ￥<span class='service-price' data-price="<%= @result['service_price'] %>"><%= @result['service_price'] %></span>
              </div>
            </li>

            <li class="list-group-item clearfix" id="no_parts">
              <div class="pull-left">
                已有配件，仅购买上门服务
              </div>
              <div class="pull-right">
                ￥<span class='service-price' data-price="<%= @result['service_price'] %>"><%= @result['service_price'] %></span>
              </div>
            </li>
          </ul>

        </div>
      </div>
    </div>
  <% end %>


  <div class="form-group">
    <div class="col-sm-offset-1 col-sm-11">
      <% if to_next_step %>
        <% if activity && (activity.id == 140) && (Time.now.hour < 10) %>
          <button type="submit" class="btn btn-default order_button haiwan-disabled">下一步</button>
        <% else %>
          <button type="submit" class="btn btn-default order_button">下一步</button>
        <% end %>
      <% else %>
        <button disabled type="submit" class="btn btn-default order_button">下一步</button>

      <% end %>
    </div>
  </div>
</div>

