<% brand = item["brand"] %>
<% number = item["number"] %>
<% price = item["price"] %>

<% version = item['version'] %>
<%# <% version = 3 %>

<div class="item clearfix" data-price="<%= price %>" data-display-name="<%= display_item_name name, brand, number, version %>" data-name="<%= name %>" data-brand="<%= brand %>" data-number="<%= number %>">
  <div class="item-name pull-left">
    <%= raw display_item_name name, brand, number, version %>
  </div>

  <div class="item-price pull-right">
    ￥<%= price %>
  </div>
</div>
