<%= form_tag 'submit', id: "place_order_form", remote: true do %>

  <div class="new-order-form">

    <%= hidden_field_tag(:car_id, params["car_id"]) %>

    <div class="addresses">
      <div class="addr">
        <%= render "service_addresses/addresses" %>
        <p class="add cursor">
          <a>
            + 添加新的地址
          </a>
        </p>
      </div>
    </div>

    <h4 class='title'>订单信息</h4>

    <div class="form">
      <% unless signed_in? %>
        <div class="info-group clearfix">
          <div class="info-title clearfix">
            <var class="star">*</var>
            <%= label_tag(:phone_num, "手机号：") %>
          </div>
          <div class="info-con form-inline">
            <%= text_field_tag(:phone_num, "", required: true, minlength: 11, maxlength: 11, class: 'phone_num form-control', placeholder: "11位手机号") %>
          </div>
        </div>
        <div class="info-group clearfix">
          <div class="info-title clearfix">
            <var class="star">*</var>
            <%= label_tag(:verification_code, "验证手机：") %>
          </div>

          <div class="info-con form-inline">
            <%= text_field_tag(:verification_code, "", required: true, maxlength: 6, minlength: 6, class: 'verification_code form-control', placeholder: "验证码") %>
            <a title="点击获取验证码" class='btn btn-default get_code' mark='submitOrder' id="get_code">获取验证码</a>
          </div>
        </div>
      <% else %>
        <div class="info-group clearfix">
          <div class="info-title clearfix">
            <var class="star">*</var>
            <%= label_tag(:phone_num, "手机号：") %>
          </div>
          <div class="info-con form-inline">
            <input title="手机号" name="phone_num" class="phone_num form-control" value="<%= current_user.phone_number %>" readonly>
          </div>
        </div>
      <% end %>

      <div class="info-group clearfix">
        <div class="info-title clearfix">
          <var class="star">*</var>
          <%= label_tag(:name, "姓名：") %>
        </div>
        <div class="info-con form-inline">
          <%= text_field_tag(:name, (@user_info ? @user_info['name'] : ""), :required => true, class: 'form-control', placeholder: "姓名") %>
        </div>
      </div>

      <div class="info-group clearfix">

        <% if @user_info %>
          <% car_l = @user_info['car_num'][0] %>
          <% car_num = @user_info['car_num'][1 .. -1] %>
        <% end %>

        <div class="info-title clearfix">
          <var class="star">*</var>
          <%= label_tag("车牌号：") %>
        </div>
        <div class="info-con form-inline">
          <select name="car_location" class="form-control car_location">
            <% car_location.each do |location| %>
              <option value="<%= location %>" <%= "selected" if location == car_l %>><%= location %></option>
            <% end %>
          </select>
          <%= text_field_tag(:car_num, (car_num ? car_num : ""), minlength: 6, maxlength: 6, required: true, placeholder: '车牌后六位', class: 'form-control') %>
        </div>
      </div>

      <div class="info-group clearfix">
        <div id="serve_date_picker"></div>
        <div class="info-title clearfix">
          <var class="star">*</var>
          <%= label_tag(:serve_date, "服务时间：") %>
        </div>
        <div class="info-con form-inline">
          <%= text_field_tag(:serve_date, '', required: true, class: 'form-control', "data-cc" => @city_capacity.to_json) %>
          <select id="serve_period" name="serve_period" class='form-control'>
            <!-- <option value="8:00">8:00 &#45; 12:00</option> -->
            <!-- <option value="12:00">12:00 &#45; 17:00</option> -->
            <!-- <option value="17:00">17:00 &#45; 20:00</option> -->
          </select>
        </div>
      </div>

      <% if result['variants'].to_i > 1 %>
        <div class="info-group clearfix">
          <div id="registed_date_picker"></div>
          <div class="info-title clearfix">
            <var class="star">*</var>
            <%= label_tag(:registration_date, "车辆注册时间：") %>
          </div>
          <div class="info-con form-inline">
            <%= text_field_tag(:registration_date, (@user_info ? @user_info['auto_registration_date'] : ''), required: true, class: 'form-control date-select', placeholder: '车辆注册日期') %>
          </div>
        </div>
      <% end %>

      <div class="info-group clearfix">
        <div class="info-title">
          <%= label_tag("发票：") %>
        </div>
        <div class="info-con form-inline">
          <%= text_field_tag(:reciept_title, "", placeholder: '发票抬头(公司/个人)', class: 'form-control') %>
        </div>
      </div>

      <div class="info-group clearfix">
        <div id="invoice_info" class="collapse">
          <div class="info-title">
            <%= label_tag("详细信息：") %>
          </div>

          <div class="input-group reciept-detail col-sm-6">

            <span class="input-group-addon">
              <label>
                <input type="radio" value='1' name="reciept_type" autocomplete="off"> 个人
              </label>
            </span>

            <span class="input-group-addon">
              <label>
                <input type="radio" value='2' name="reciept_type" autocomplete="off"> 单位
              </label>
            </span>

            <input type="text" class='form-control' name="reciept_title" placeholder="发票抬头">
          </div>
        </div>
      </div>

      <input id="service_type" type="hidden" name="type" value="<%= params[:type] %>">

      <% if params[:act] && activity = Activity.find_by(id: params[:act]) %>
        <input type="hidden" name="discount" value="<%= activity.preferential_code %>">
        <input type="hidden" id="activity_id" name="act" value="<%= params[:act] %>">

      <% else %>
        <div class="info-group form-group">
          <div class="info-title">
            <%= label_tag("优惠券：") %>
          </div>
          <div class="form-inline">
            <select id="preferential_code_select" name="discount" class='form-control'>
              <option value="8:00">9.9空调滤芯器</option>
              <option value="12:00">50元优惠券</option>
              <option value="17:00">不使用优惠券</option>
              <option value="17:00">无可用优惠券</option>
            </select>
            <%= link_to "?", "#", class: "btn btn-default", id: "validate_preferential" %>

            <div class="discount-info hide">
              优惠券说明：
            </div>
          </div>
          <div class="form-inline to-validate">
            有优惠券兑换码
          </div>
          <div class="form-inline preferential_code_input hide">
            <input type="text" name="discount" class='form-control' placeholder="优惠码" id="preferential_code">
            <%= link_to "验证", "#", class: "btn btn-default", id: "validate_preferential" %>
            <%= link_to "取消", "#", class: "btn btn-default hidden", id: "no_preferential" %>
          </div>
        </div>
      <% end %>

      <div class="info-group clearfix">
        <div class="info-title">
          <%= label_tag(:client_comment, "备注：") %>
        </div>
        <div class="info-con form-inline">
          <%= text_area_tag(:client_comment, '', class: 'form-control') %>
        </div>
      </div>
    </div>
  </div>


  <h4 class='title'>订单信息</h4>
  <%= render "new_offer_table" %>

  <div class="submit-con">
    <%= submit_tag("提交订单",:class => 'submit bac-white btn btn-default', id: "submit_form_button") %>
  </div>

<% end %>
