	<div class="quick_select_car">
		<div class="main">
			<%= image_tag("new-order/first.png", :class => 'tag2')%>
			<h4 class="tit">服务内容</h4>
			<div class="maintain-items">
				<h4 class="title">
					<span>您有以下快捷车辆</span>
					<span class="add-car cursor">添加车辆</span>
				</h4>
				<div class="items">
					<div class="flexslider carousel">
						<ul class="slides">
							<% autos.each do |auto| %>
								<li>
									<div class="car-item cursor" data-car_id="<%= auto.system_id %>">
					                    <p class="img">
					                       <%= image_tag(auto.logo, :class => 'tag2') %>
					                    </p>
					                    <p class="brand-series-model">
					                       <%= auto.full_name %>
					                    </p>
					                </div>
								</li>
							<% end %>
						</ul>
					</div>
				</div>
        		<a href="javascript:;" class="undefined-car cursor">未找到车型？</a>
			</div>
		</div>
		<div mark="new_car_select" class="next translate-next cursor">
      		<a href="javascript:;" data-link="<%= new_service_select_orders_path %>">下一步</a>
		</div>
	</div>

	<script type="text/javascript">
		$(function() {
			$(".flexslider").flexslider({
				animation: "slide",
				animationLoop: false,
				itemWidth: 210,
				itemMargin: 5,
				minItems: 2,
				maxItems: 4,
				pausePlay: true
			});
		});
	</script>
