<div class="new-car-select">
	<div class="quick_select_car special">
		<div class="main">
			<%= image_tag("new-order/step-1.png", :class => 'tag2')%>
			<div class="maintain-items">
				<h4 class="title">
					<span>您有以下快捷车辆</span>
					<span class="add-car cursor">添加车辆</span>
				</h4>
				<div class="items">
					<div class="flexslider carousel">
						<ul class="slides">
							<% autos.each do |auto| %>
								<li>
									<div class="car-item cursor" data-car_id="<%= auto.try(:system_id) %>">
					        	<p class="img">
					             <%= image_tag(auto.try(:logo), :class => 'car-logo') %>
					          </p>
					          <p class="brand-series-model">
					          	<%= auto.try(:full_name) %>
					          </p>
									</div>
								</li>
							<% end %>
						</ul>
					</div>
				</div>
        	<a href="javascript:;" class="undefined-car cursor">未找到车型？</a>
			</div>
		</div>
		<div mark="new_car_select" class="next translate-next cursor">
      	<a href="javascript:;" data-link="<%= new_service_select_orders_path %>">下一步</a>
		</div>
	</div>
</div>
