<div class="new-car-select">
  <div class="second" data-car_id="<%= @car_id %>">
    <div class="main">
      <%= image_tag("new-order/second.png", class: 'tag2')%>

      <div class="prev cursor">
        <%= link_to "上一步", new_car_select_orders_path %>
      </div>
      <h4 class="tit">服务内容</h4>
      <div class="maintain-items">
        <h4 class="title clearfix">
          <span class="name"> <%= @result['name'] %></span>
          <span class="price">总价：<b class="total_price"><%= @result['price'] %></b> 元</span>
        </h4>
        <div class="items clearfix">
          <ul class="left service-items">
            <% parts = @result['applicable_parts'] %>
            <% array = parts.map(&:keys).flatten %>
            <% array.each do |arr| %>
              <% item = get_recommend_part(parts, arr) %>

              <li data-part="<%= arr %>" brand="<%= item['brand']%>" number="<%= item['number']%>" class="cursor selected">
                <%= display_item_name(arr, item["brand"], item['number']) %>
                ￥<%= item['price'] %>
              </li>
            <% end %>

              <div class="other">
                <li data-part="service_price" class="cursor selected active">
                  上门服务费
                  ￥ <b class="service_price"><%= @result['service_price'] %></b>
                </li>
              </div>
          </ul>

          <% array.each_with_index do |arr, inx| %>
            <ul data-part="<%= arr %>" class="right items-list <%= inx.zero? ? "" : "hide" %>">
              <% get_part(parts, arr).each do |part| %>
                <li data-part="<%= arr %>" brand="<%=part['brand']%>" number="<%=part['number']%>" class="cursor">
                  <%= display_item_name(arr, part['brand'], part['number']) %>
                  ￥<%= part["price"] %>
                </li>
              <% end %>

              <div class="other">
                <li class="cursor undo">取消</li>
              </div>
            </ul>
          <% end %>

          <ul class="right items-list-small">
            <li class="cursor all-undo">已有配件, 仅收上门费</li>
            <li class="cursor undo">取消</li>
          </ul>
        <!--
          <ul class="right items-list">
              <li class="cursor">1</li>
              <li class="cursor">2</li>
          </ul>
          -->
        </div>
      </div>
      <div class="next translate-next cursor">
        <%= link_to "下一步", new_info_submit_orders_path(car_id: @car_id) %>
      </div>
    </div>
  </div>

</div>
