<div id="new-car-select">
  <div class="second">
    <div class="main">
      <%= image_tag("new-order/second.png", :class => 'tag2')%>
      
      <h4 class="tit">服务内容</h4>
      <div class="maintain-items">
        <h4 class="title clearfix">
          <span class="name">奥迪(进口) A1 上门保养<%#= @result['name'] %></span>
          <span class="price">总价：455元</span>
        </h4>
        <div class="items clearfix">
          <ul class="left service-items">
            <li class="cursor">暂未选择</li>
            <li class="cursor">暂未选择</li>
            <li class="cursor">暂未选择</li>
            <li class="cursor">暂未选择</li>
          </ul>
          <ul class="right items-list">
            <li class="cursor">1</li>
            <li class="cursor">2</li>
          </ul>
          <ul class="right items-list hide">
            <li class="cursor">21</li>
            <li class="cursor">22</li>
          </ul>
          <ul class="right items-list hide">
            <li class="cursor">31</li>
            <li class="cursor">32</li>
          </ul>
          <ul class="right items-list hide">
            <li class="cursor">41</li>
            <li class="cursor">42</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="prev cursor">
      <%= link_to "上一步", new_car_select_orders_path %>
    </div>
    <div class="next translate-next cursor">
      <%= link_to "下一步", new_info_submit_orders_path %>
    </div>
  </div>

  <div class="no_car_type hide">
    <div class="main">
      <%= image_tag("new-order/first.png", :class => 'tag2')%>
      <h4 class="tit">服务内容</h4>
      <div class="maintain-items">
        <h4 class="title clearfix">
          <span class="name">请填写以下信息</span>
        </h4>
        <div class="items clearfix">

            <div class="left">
              <div class="info-group clearfix">
                <div class="info-title clearfix">
                  <var class="star">*</var>
                  <%= label_tag(:name, "车辆品牌：") %>
                </div>
                <div class="info-con form-inline">
                  <%= text_field_tag(:name, :required => true, class: 'form-control', placeholder: "车辆品牌") %>
                </div>
              </div>

            <div class="info-group clearfix">
                <div class="info-title clearfix">
                  <var class="star">*</var>
                  <%= label_tag(:name, "车辆年款：") %>
                </div>
                <div class="info-con form-inline">
                  <%= text_field_tag(:name, :required => true, class: 'form-control', placeholder: "车辆年款") %>
                </div>
              </div>

              <div class="info-group clearfix">
                <div class="info-title clearfix">
                  <var class="star">*</var>
                  <%= label_tag(:name, "车辆排量：") %>
                </div>
                <div class="info-con form-inline">
                  <%= text_field_tag(:name, :required => true, class: 'form-control', placeholder: "车辆排量") %>
                </div>
              </div>

              <div class="info-group clearfix">
                <div class="info-title clearfix">
                  <var class="star">*</var>
                  <%= label_tag(:name, "VIN号：") %>
                </div>
                <div class="info-con form-inline">
                  <%= text_field_tag(:name, :required => true, class: 'form-control', placeholder: "VIN号") %>
                </div>
              </div>
            </div>

          <div class="center">
            <div class="info-group clearfix">
                <div class="info-title clearfix">
                  <var class="star">*</var>
                  <%= label_tag("车牌号：") %>
                </div>
                <div class="info-con form-inline">
                  <select name="car_location" class="form-control car_location">
                    <% car_location.each do |location| %>
                      <option value="<%= location %>" <%= "selected" if location == @auto.try(:license_location) %>><%= location %></option>
                    <% end %>
                  </select>
                  <%= text_field_tag(:car_num, @auto.try(:license_number), minlength: 6, maxlength: 6, required: true, placeholder: '车牌后六位', class: 'form-control') %>
                </div>
              </div>

              <div class="info-group clearfix">
                <div class="info-title clearfix">
                  <var class="star">*</var>
                  <%= label_tag(:name, "手机号：") %>
                </div>
                <div class="info-con form-inline">
                  <%= text_field_tag(:name, :required => true, class: 'form-control', placeholder: "手机号") %>
                </div>
              </div>

              <div class="info-group clearfix">
                  <div class="info-title clearfix">
                    <var class="star">*</var>
                    <%= label_tag(:verification_code, "验证手机：") %>
                  </div>
                  <div class="info-con form-inline">
                    <%= text_field_tag(:verification_code, "", required: true, maxlength: 6, minlength: 6, class: 'verification_code form-control', placeholder: "6位验证码") %>

                    <a title="点击获取验证码" class='btn btn-default get_code' id="get_code">获取验证码</a>

                  </div>
              </div>

              <div class="info-group clearfix">
                <div class="info-title clearfix">
                  <var class="star">*</var>
                  <%= label_tag(:name, "姓名：") %>
                </div>
                <div class="info-con form-inline">
                  <%= text_field_tag(:name, :required => true, class: 'form-control', placeholder: "姓名") %>
                </div>
              </div>
          </div>

            <div class="right">
              <div class="info-group clearfix">
                <div id="serve_date_picker"></div>
                <div class="info-title clearfix">
                  <var class="star">*</var>
                  <%= label_tag(:serve_date, "服务时间：") %>
                </div>
                <div class="info-con form-inline">
                  <%= text_field_tag(:serve_date, '', required: true, class: 'form-control', "data-cc" => @city_capacity.to_json) %>
                  <select id="serve_period" name="serve_period" class='form-control'>
                    <!-- <option value="8:00">8:00 &#45; 12:00</option> -->
                    <!-- <option value="12:00">12:00 &#45; 17:00</option> -->
                    <!-- <option value="17:00">17:00 &#45; 20:00</option> -->
                  </select>
                </div>
              </div>
              <div class="info-group clearfix">
                <div class="info-con form-inline">
                  <div class="submit cursor">提交信息</div>
                </div>
              </div>
            </div>

        </div>
      </div>
    </div>
  </div>
</div>
