<div class="new-car-select">
  <% if @autos %>
    <%= render "quick_select_car", autos: @autos %>
  <% end %>

<!-- select car -->
  <div class="first special <%= @autos.present? ? 'hide' : '' %>">
    <div class="main">
      <%= image_tag("new-order/step-1.png", :class => 'tag2')%>
      <div class="maintain-items">
        <h4 class="title clearfix">
          <span class="active select-brand">选择品牌</span>
          <span class="select-series">选择车系</span>
          <span class="select-model">选择排量与年份</span>
        </h4>
        <div class="items">
          <div class="initial clearfix">
            <h4>品牌首字母选择</h4>
            <ul class="crumbs clearfix">
              <!-- <li><a href="#">A</a></li> -->
            </ul>
          </div>
          <p class="tips hide">小卡技师努力加载中...</p>
          <ul class="brand-list clearfix">
            <!-- <li class="cursor">
              <img src="">
              <span>奥迪</span>
            </li>
          -->
          </ul>
        </div>
        <div class="items hide">
          <div class="selected-brand clearfix">
            <h4>已选车型：</h4>
            <div class="selected-name">
              <span class="name"></span>
              <p class="remove cursor"></p>
            </div>
          </div>
          <p class="tips hide">小卡技师努力加载中...</p>
          <ul class="series-list clearfix">
            <!-- <li class="cursor">A1</li> -->
          </ul>
        </div>
        <div class="items hide">
          <div class="selected-series clearfix">
            <h4>已选车型：</h4>
            <div class="selected-name">
              <span class="name"></span>
              <p class="remove cursor"></p>
            </div>
            <div class="selected-series-name">
              <span class="series"></span>
              <p class="remove cursor"></p>
            </div>
          </div>
          <p class="tips hide">小卡技师努力加载中...</p>
          <ul class="model-list clearfix">
            <!-- <li class="cursor">1.2 TFSI   2010.08-2014</li> -->
          </ul>
        </div>
        <a href="javascript:;" class="undefined-car cursor">未找到车型？</a>
      </div>
    </div>
    <div mark="new_car_select" class="next translate-next cursor">
      <a href="javascript:;" data-link="<%= new_service_select_orders_path  %>">下一步</a>
    </div>
  </div>
<!-- select car end  -->


<!-- no_car_type -->
<%= render 'no_car_type' %>
<!-- no_car_type -->
</div>

