<% content_for :javascripts do %>
  <script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=<%= Settings.baidu_ak %>"></script>
  <%= javascript_include_tag "baidu_map", 'data-turbolinks-track' => true %>
<% end %>

<div class="new-car-select">
  <div class="third special clearfix">
    <div class="main">
      <%= image_tag("new-order/third.png", :class => 'tag2')%>
      <div class="prev cursor">
        <%= link_to "上一步", new_service_select_orders_path(car_id: @car_id, type: @type) %>
      </div>
      <h4 class="tit">服务内容</h4>
      <div class="maintain-items">

        <h4 class="title clearfix">
          <span class="name">确认地址信息</span>
          <% if signed_in? %>
            <a href='#' class="address-manage pull-right" id="address_manage">管理地址</a>
          <% end %>
        </h4>

        <div class="items clearfix">
          <%= render "new_order_form" %>
        </div>
      </div>
    </div>
  </div>
</div>
</div>

<%= render "shared/add_address_modal" %>
