<div class="new-car-select">
  <div class="second special" data-car_id="<%= @car_id %>">
    <div class="main">
      <%= image_tag("new-order/step-2.png", class: 'tag2')%>

      <div class="prev cursor">
        <%= link_to "上一步", new_car_select_orders_path(type: @type) %>
      </div>
      <a href="/static_pages/fu-wu-liu-cheng" class="tit">服务内容</a>
      <div class="maintain-items">
        <h4 class="title clearfix">
          <span class="name"> <%= @result['name'] %></span>
          <span class="price">总价：<b class="total_price"><%= @result['price'] %></b> 元</span>
        </h4>
        <div class="items clearfix">
          <ul class="left service-items">
            <% parts = @result['applicable_parts'] %>
            <% array = filter_parts(parts, @type)%>
            <% recommend_numbers = [] %>
            <% array.each do |arr| %>
              <% item = get_recommend_part(parts, arr.keys[0]) %>
              <li version="<%= item['version'] %>" data-part="<%= part=arr.keys[0] %>" brand="<%= item['brand']%>" number="<%= item['number']%>" class="cursor selected clearfix">
              
                <% if part == "空气滤清器" %>
                  <%= image_tag("new-order/air_cleaner.png")%>
                  <span class="item-tit">空气滤</span>
                <% elsif part == "机滤" %>
                  <%= image_tag("new-order/oil_filter.png")%>
                  <span class="item-tit">机滤</span>
                <% elsif part == "空调滤清器" %>
                  <%= image_tag("new-order/air_filter.png")%>
                  <span class="item-tit">空调滤</span>
                <% elsif part == "机油" %>
                  <%= image_tag("new-order/oil.png")%>
                  <span class="item-tit">机油</span>
                <% elsif part == "电瓶" %>
                  <%= image_tag("new-order/battery.png")%>
                  <span class="item-tit">电瓶</span>
                <% end %>


                <span class="item-con">
                  <%= display_item_img(part) %>

                <span class="item-tit">
                  <%= part %>
                </span>
                <%= raw display_item_img(part) %>
                <span>
                  <%= display_item_name(part, item["brand"], item['number'], item['version']) %>
                  ￥<%= item['price'] %>
                </span>
                <% recommend_numbers << item['number'] %>
              </li>
            <% end %>
              <div class="other">
                <li data-part="service_price" class="cursor cto">
                  <%= image_tag("new-order/service.png")%>
                  <span class="item-tit">服务费</span>
                  <span class='she'>上门服务费</span>￥
                  <b class="service_price"><%= @result['service_price'] %></b>
                </li>
              </div>
          </ul>

          <%= image_tag("new-order/leftbtn.png", class: 'leftbtn')%>

          <% array.each_with_index do |arr, inx| %>
            <ul data-part="<%= arr.keys[0] %>" class="right items-list <%= inx.zero? ? "" : "hide" %>">
              <% get_part(parts, arr.keys[0]).each do |part| %>
                <li version="<%= part['version'] %>" data-part="<%= arr.keys[0] %>" brand="<%=part['brand']%>" number="<%=part['number']%>" class="cursor <%= recommend_numbers.include?(part['number']) ? 'active' : ''%>">
                  <%= display_item_name(arr.keys[0], part['brand'], part['number'], part['version']) %>
                  ￥<%= part["price"] %>
                </li>
              <% end %>

              <div class="other">
                <li class="cursor undo">取消</li>
              </div>
            </ul>
          <% end %>

          <ul class="right items-list-small hide">
            <li class="cursor all-undo">已有配件, 仅收上门费</li>
          </ul>
        <!--
          <ul class="right items-list">
              <li class="cursor">1</li>
              <li class="cursor">2</li>
          </ul>
          -->
        </div>
      </div>
      <div class="next translate-next cursor">
        <%= link_to "下一步", new_info_submit_orders_path(car_id: @car_id, type: @type) %>
      </div>
    </div>
  </div>

</div>
