<% content_for :javascripts do %>
  <%= javascript_include_tag "orders", 'data-turbolinks-track' => true %>
  <script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=<%= Settings.baidu_ak %>"></script>
  <%= javascript_include_tag "baidu_map", 'data-turbolinks-track' => true %>
<% end %>

<%= title "提交订单" %>

<div class="container place-order-page" data-city="<%= current_user_city %>">
  <h3 class="main-title row">保养预约</h3>

  <%= form_tag submit_no_car_order_orders_path do %>

    <%= hidden_field_tag(:city_id, current_city_id) %>

    <fieldset>

      <div class="orders-content bac-white form-horizontal">

        <p class='order-info'>订单信息</p>

        <div class="address bac-white clearfix">
          <%= render "shared/select_address" %>
        </div>

        <hr>

        <div class="info-group form-group">
          <div class="info-title">
            <var class="star">*</var>
            <%= label_tag(:name, "车辆品牌：") %>
          </div>
          <div class="info-con">
            <input title="车辆品牌" name="brand" class="phone_num form-control">
          </div>
        </div>

        <div class="info-group form-group">
          <div class="info-title">
            <var class="star">*</var>
            <%= label_tag(:name, "车辆年款：") %>
          </div>
          <div class="info-con">
            <input title="车辆年款" name="year" class="phone_num form-control">
          </div>
        </div>

        <div class="info-group form-group">
          <div class="info-title">
            <var class="star">*</var>
            <%= label_tag(:name, "车辆排量：") %>
          </div>
          <div class="info-con">
            <input title="车辆排量" name="car_pl" class="phone_num form-control" placeholder="例:1.6T/l">
          </div>
        </div>

        <% unless signed_in? %>
          <div class="info-group form-group">
            <div class="info-title">
              <var class="star">*</var>
              <%= label_tag(:name, "手机号：") %>
            </div>
            <div class="info-con">
              <input title="手机号" name="phone_num" class="phone_num form-control" id="phone_num" placeholder="手机号">
            </div>
          </div>
          <div class="info-group form-group">
            <div class="info-title">
              <var class="star">*</var>
              <%= label_tag(:name, "验证手机：") %>
            </div>
            <div class="info-con form-inline">
              <input title="验证码" name="verification_code" class="verification_code form-control" placeholder="验证码" id="verification_code"/>
              <a title="点击获取验证码" class='btn btn-default get_code' id="get_code">获取验证码</a>

            </div>
          </div>
        <% else %>
          <div class="info-group form-group">
            <div class="info-title">
              <var class="star">*</var>
              <%= label_tag(:name, "手机号：") %>
            </div>
            <div class="info-con">
              <input title="手机号" name="phone_num" class="phone_num form-control" value="<%= current_user.phone_number %>" readonly>
            </div>
          </div>
        <% end %>

        <div class="info-group form-group">
          <div class="info-title">
            <var class="star">*</var>
            <%= label_tag(:name, "姓名：") %>
          </div>
          <div class="info-con">
            <%= text_field_tag(:name, current_user.try(:username), :required => true, class: 'form-control') %>
          </div>
        </div>

        <div class="info-group form-group">
          <div class="info-title">
            <var class="star">*</var>
            <%= label_tag("车牌号：") %>
          </div>
          <div class="info-con form-inline">
            <select name="car_location" class="form-control">
>
              <option value="京">京</option>
              <option value="沪">沪</option>
              <option value="津">津</option>
              <option value="渝">渝</option>
              <option value="浙">浙</option>
              <option value="苏">苏</option>
              <option value="粤">粤</option>
              <option value="闽">闽</option>
              <option value="湘">湘</option>
              <option value="鄂">鄂</option>
              <option value="辽">辽</option>
              <option value="吉">吉</option>
              <option value="黑">黑</option>
              <option value="冀">冀</option>
              <option value="豫">豫</option>
              <option value="鲁">鲁</option>
              <option value="陕">陕</option>
              <option value="甘">甘</option>
              <option value="青">青</option>
              <option value="新">新</option>
              <option value="晋">晋</option>
              <option value="川">川</option>
              <option value="黔">黔</option>
              <option value="皖">皖</option>
              <option value="赣">赣</option>
              <option value="云">云</option>
              <option value="蒙">蒙</option>
              <option value="桂">桂</option>
              <option value="藏">藏</option>
              <option value="宁">宁</option>
              <option value="琼">琼</option>
            </select>
            <%= text_field_tag(:car_num, '', minlength: 6, maxlength: 6, required: true, placeholder: '车牌后六位', class: 'form-control') %>
          </div>
        </div>

        <div class="info-group form-group">
          <div class="info-title">
            <var class="star">*</var>
            <%= label_tag(:serve_date, "服务时间：") %>
          </div>
          <div class="info-con form-inline">
            <div id="serve_date_picker"></div>
            <%= text_field_tag(:serve_date, '', :required => true, class: 'form-control', "data-cc" => @city_capacity.to_json) %>
            <select id="serve_period" name="serve_period" class='form-control'>
              <option value="8:00-12:00">8:00 - 12:00</option>
              <option value="12:00-17:00">12:00 - 17:00</option>
              <option value="17:00-20:00">17:00 - 20:00</option>
            </select>
          </div>
        </div>

        <div class="info-group form-group">
          <div class="info-title">
            <var class="star">*</var>
            <%= label_tag(:pay_type, "付款方式：") %>
          </div>
          <div class="info-con">
            <select id="pay_type" name="pay_type" class='form-control'>
              <option value="0">现金</option>
              <option value="1">刷卡</option>
            </select>
          </div>
        </div>

        <div class="info-group form-group">
          <div class="info-title">
            <var class="star">*</var>
            <%= label_tag(:registration_date, "车辆注册时间：") %>
          </div>
          <div class="info-con">
            <div id="registed_date_picker"></div>
            <%= text_field_tag(:registration_date,'', :required => true, class: 'form-control') %>
          </div>
        </div>


        <hr>

      </div>

      <div class="submit-info clearfix">

        <div class="col-sm-2">
          <%= submit_tag("提交订单", class: 'submit-btn bac-white') %>
        </div>
      </div>

    </fieldset>
  <% end %>
</div>

<%= render "shared/add_address_modal" %>
