<% content_for :javascripts do %>
  <%= javascript_include_tag "orders", 'data-turbolinks-track' => true %>
  <script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=<%= Settings.baidu_ak %>"></script>
  <%= javascript_include_tag "baidu_map", 'data-turbolinks-track' => true %>
<% end %>

<div class="place-order-phone phone-page" data-city="<%= current_user_city %>" data-car='<%= params["order"]["car_id"] %>'>

  <%= form_tag 'submit', id: "place_order_form", remote: true do %>

    <%= hidden_field_tag(:city_id, current_city_id) %>
    <%= hidden_field_tag(:car_id, params["order"]["car_id"]) %>

    <fieldset>

      <%= render "order_form" %>

      <h4 class="item-title">商品详情</h4>

      <%= render "offer_table" %>

      <div class="submit-con">

        <span>当前费用: <span class="result-price" id="result_price"> <%= @result['price'] %></span>元</span>

        <%= submit_tag("提交订单",:class => 'submit bac-white btn btn-default') %>
        <p>支持现金、刷卡支付</p>
      </div>
    </div>
    </fieldset>
  <% end %>

</div>

<%= render "shared/add_address_modal" %>
