<% content_for :javascripts do %>
  <%= javascript_include_tag "orders", 'data-turbolinks-track' => true %>
  <script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=<%= Settings.baidu_ak %>"></script>
  <%= javascript_include_tag "baidu_map", 'data-turbolinks-track' => true %>
<% end %>

<%= title "提交订单" %>

<div class="container place-order-page" data-city="<%= current_user_city %>" data-car='<%= params["order"]["car_id"] %>'>
  <h3 class="main-title row">保养预约</h3>

  <div id="map"></div>

  <%= render "order_process" %>

  <%= form_tag 'submit', id: "place_order_form", remote: true do %>

    <%= hidden_field_tag(:city_id, current_city_id) %>
    <%= hidden_field_tag(:car_id, params["order"]["car_id"]) %>

    <fieldset>

      <%= render "order_form" %>

      <%= render "offer_table" %>

      <div class="submit-info clearfix">
        <div class="maintain-name col-sm-8">
          <%= @result['name'] %>
        </div>

        <div class="price col-sm-2">
          <span>总价: <span id="final_price"><%= @result['price'] %></span>元</span>
        </div>

        <div class="col-sm-2">
          <%= submit_tag("提交订单", class: 'submit-btn bac-white') %>
        </div>
      </div>

    </fieldset>
  <% end %>
</div>

<%= render "shared/add_address_modal" %>
