<% content_for :javascripts do %>
  <%= javascript_include_tag "mobile/orders", 'data-turbolinks-track' => true %>
  <script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=<%= Settings.baidu_ak %>"></script>
  <%= javascript_include_tag "baidu_map", 'data-turbolinks-track' => true %>
<% end %>

<div class="place-order-phone phone-page" data-city="<%= current_user_city %>" data-car='<%= params["car_id"] %>'>

  <div class="address clearfix">
    <%= render "shared/select_address" %>
  </div>

  <%= render "order_form" %>
  <%= render "offer_table" %>

</div>

<%= render "shared/add_address_modal" %>
