<% content_for :javascripts do %>
  <%= javascript_include_tag "orders", 'data-turbolinks-track' => true %>
<% end %>
<%= title "创建订单" %>

<div class="container select-car-page" data-type="<%= params[:type] %>">
  <h3 class="main-title row">保养预约</h3>

  <%= render "order_process" %>

  <div class="select-item bac-white">
    <div class="select-car">
      <h4>查询车辆</h4>
      <%= render "shared/select_car" %>
    </div>

    <% if signed_in? %>
      <div class="quick-select">
        <h4>我的快捷车辆</h4>

        <% current_user.autos.each do |auto| %>
          <%= render "shared/car_item", auto: auto %>
        <% end %>
      </div>
    <% end %>

    <div class="clear"></div>

    <p class="next">
      <button id="to_select_item" class="search_button bac-orange font-white">下一步</button>
      <a class="more" href="">没找到车型？</a>
    </p>
  </div>

  <div class="row">
    <div class="col-md-8">
      <div class="comment-module bac-white">
        <h3 class="comment-title module-title">用户评价</h3>
        <div class="comment-con">
          <dl>
            <dt>
              <h3>北京市东城区 | 京A***34</h3>
              <span class="time">11分钟前</span>
            </dt>
            <dd>
              评价评价评价评价评价评价评价评价评价评价评价评价评价评价评价评价评价评价评价评价评价评价评价
            </dd>
          </dl>
          <dl>
            <dt>
              <h3>北京市东城区 | 京A***34</h3>
              <span class="time">11分钟前</span>
            </dt>
            <dd>
              评价评价评价评价评价评价评价评价评价评价评价评价评价评价评价评价评价评价评价评价评价评价评价
            </dd>
          </dl>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="orders-situation bac-white">
        <h3 class="orders-title module-title">订单概况</h3>
        <marquee direction='up' height='300'>
          <% Order.recent_orders.each do |order| %>
            <dl>
              <dt>
                <h3><%= order["name"]%> | <%= order["car_num"] %></h3>
              </dt>
              <dd>
                <%= order["auto_model"] %>
              </dd>
            </dl>
          <% end %>
        </marquee>
      </div>
    </div>
  </div>
</div>

<script>
  $('.select-car,.quick-select').click(function(){
    $(this).addClass('selected').siblings().removeClass('selected');
  })
</script>
