<% content_for :javascripts do %>
  <%= javascript_include_tag "orders", 'data-turbolinks-track' => true %>
<% end %>

<% cache [params[:car_id], current_city_id, params[:type], params[:auto_id], params[:act]] do %>
  <div class="select-car-phone phone-page" data-autoid="<%= params[:auto_id] %>" data-act="<%= params[:act] %>">
    <div role="tabpanel">
      <ul class="nav nav-tabs" role="tablist" id="myTab">
        <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">立即预约</a></li>
        <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">保养说明</a></li>
        <li role="presentation"><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">订单评价</a></li>
      </ul>

      <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="home">
          <div class="quick-select">
            <h4 class="item-title my-car-title">我的快捷车辆</h4>
            <%= link_to " + 重新选择", auto_brands_orders_path(act: params[:act], type: params[:type]), class: 'add-car' %>

            <div class="car-content content clearfix">

              <% if signed_in? %>

                <% if @last_select_car %>
                  <%= render "shared/car_item", auto: @last_select_car %>
                <% end %>

                <% current_user.autos.each do |auto| %>
                  <%= render "shared/car_item", auto: auto %>
                <% end %>

              <% else %>
                <% if @last_select_car %>
                  <%= render "shared/car_item", auto: @last_select_car %>
                <% end %>
              <% end %>
            </div>
          </div>

          <% type = (params[:type] == nil || params[:type] == "") ? "bmt" : params[:type] %>
          <% car_id = params[:car_id] || @last_select_car.system_id %>

          <% activity = Activity.find_by(id: params[:act]) %>
          <% via_act = activity && activity.valid_activity? %>
          <% if via_act %>
            <% types = activity.products.map &:slug %>
            <% if !types.include?(type) %>
              <% type = types.first %>
            <% end %>
            <% code = activity.preferential_code %>
          <%end %>

          <div class="orders bac-white" data-car="<%= car_id %>" data-type="<%= type %>">
            <h4 class="item-title service-type-title">服务类型</h4>
            <div class="content">

              <% if !via_act || types.include?('pm25') %>
                <div class="service-item" data-type="pm25">
                  <input type="radio" name="service" <%= "checked" if type == "pm25" %>>
                  <span class="pm25 <%= "selected" if type == "pm25" %>">PM2.5滤芯更换</span>
                </div>
              <% end %>

              <% if !via_act || types.include?('bmt') %>
                <div class="service-item" data-type="bmt">
                  <input type="radio" name="service" <%= "checked" if type == "bmt" %>>
                  <span class="bmt <%= "selected" if type == "bmt" %>">大保养</span>
                </div>
              <% end %>

              <% if !via_act || types.include?('smt') %>
                <div class="service-item" data-type="smt">
                  <input type="radio" name="service" <%= "checked" if type == "smt" %>>
                  <span class="smt <%= "selected" if type == "smt" %>">小保养</span>
                </div>
              <% end %>

              <% if !via_act || types.include?('bty') %>
                <div class="service-item" data-type="bty">
                  <input type="radio" name="service" <%= "checked" if type == "bty" %>>
                  <span class="smt <%= "selected" if type == "bty" %>">电瓶</span>
                </div>
              <% end %>

            </div>
            <h4 class="item-title">选择配件</h4>
            <div class="orders-con <%= type %>-con content">
              <% if car_id %>
                <%= render "items", type: type, activity: activity %>
              <% else %>
                  <span class="spe">请先选择车辆和保养类型</span>
              <% end %>
            </div>
            <div class="submit-con">
              <span>当前费用:
                <span class="result-price"></span>元
              </span>
              <p>支持现金、刷卡支付</p>
            </div>
          </div>
        </div>
        <div role="tabpanel" class="tab-pane" id="profile">
          <% if type =='pm25' %>
            <div class = "col-xs-12">
              <%= image_tag("pm25_detail_1.png", style: 'width: 100%') %>
            </div>
            <div class = "col-xs-12">
              <%= image_tag("pm25_detail_2.png",:class => "img-thumbnail") %>
            </div>
          <% else %>
            <div class = "col-xs-12">
              <%= image_tag("detail.jpg",:class => "img-thumbnail") %>
            </div>
          <% end %>
        </div>
        <div role="tabpanel" class="tab-pane" id="messages">
          <% Order.comments.first(5).each do |comment| %>

            <dl class='comment-item'>
              <dt>
              <h3>
                <% phone = comment['phone_num'] %>
                <% phone[3..6] = "****" %>
                <%= phone %>
              </h3>
              <span class="time"><%= comment['evaluation_time'] %></span>
              </dt>
            <dd>
              <%= comment['evaluation_tags'].join(', ') %>
            </dd>
          </dl>

        <% end %>
        </div>
      </div>
    </div>
  </div>
<% end %>
