<% content_for :javascripts do %>
  <%= javascript_include_tag "orders", 'data-turbolinks-track' => true %>
<% end %>

<% type = (params[:type] == nil || params[:type] == "") ? "bmt" : params[:type] %>

<% unless @result.empty? %>
  <div class="container items-select-page" data-type="<%= type %>">
    <h3 class="main-title row">保养预约</h3>
    <%= render "order_process" %>
    <div class="orders bac-white" data-car="<%= params[:car_id]%>">
      <ul>

        <% Product.all.each do |product| %>
          <% if product_available?(product) %>
            <li class="<%= "selected" if type == product.slug %>">
              <%= link_to product.title, select_item_orders_path(car_id: params[:car_id], type: product.slug) %>
            </li>
          <% end %>
        <% end %>

      </ul>
      <div class="orders-con <%= type %>-con">
        <%= render "items", type: type %>
      </div>
    </div>

    <div class="service-module bac-white">
      <h3 class="service-title module-title">服务介绍</h3>
      <div class="service-con">
        <% if params[:type]=='pm25' %>
          <img class="data-img" src="" data-src="<%= asset_url 'pm25_detail_pc1.jpg' %>" >
          <img class="img-thumbnail data-img" src="" data-src="<%= asset_url 'pm25_detail_pc2.jpg' %>" >
        <% else %>
          <img class="img-thumbnail data-img" src="" data-src="<%= asset_url 'detail/Ser_introduce_01.jpg' %>" />
          <img class="img-thumbnail data-img" src="" data-src="<%= asset_url 'detail/Ser_introduce_02.jpg' %>" />
          <img class="img-thumbnail data-img" src="" data-src="<%= asset_url 'detail/Ser_introduce_03.jpg' %>" />
          <img class="img-thumbnail data-img" src="" data-src="<%= asset_url 'detail/Ser_introduce_04.jpg' %>" />
          <img class="img-thumbnail data-img" src="" data-src="<%= asset_url 'detail/Ser_introduce_05.jpg' %>" />
          <img class="img-thumbnail data-img" src="" data-src="<%= asset_url 'detail/Ser_introduce_06.jpg' %>" />
          <img class="img-thumbnail data-img" src="" data-src="<%= asset_url 'detail/Ser_introduce_07.jpg' %>" />
          <img class="img-thumbnail data-img" src="" data-src="<%= asset_url 'detail/Ser_introduce_08.jpg' %>" />
          <img class="img-thumbnail data-img" src="" data-src="<%= asset_url 'detail/Ser_introduce_09.jpg' %>" />
        <% end %>
      </div>
    </div>

  </div>
<% else %>
  <div class="main error">
    <%= link_to "请先选择车型", select_car_orders_path %>
  </div>
<% end %>
