<% content_for :javascripts do %>
  <%= javascript_include_tag "orders", 'data-turbolinks-track' => true %>
<% end %>
<%= title "创建订单" %>

<div class="container select-car-page" data-type="<%= params[:type] %>">
  <h3 class="main-title row">保养预约</h3>

  <%= render "order_process" %>

  <div class="select-item bac-white">
    <div class="select-car selected">
      <h4>查询车辆</h4>
      <%= render "shared/select_car" %>
    </div>

    <% if signed_in? %>

      <div class="quick-select">

        <h4>快捷车辆</h4>
        <% if @last_select_car %>
          <%= render "shared/car_item", auto: @last_select_car %>
        <% end %>

        <% current_user.autos.each do |auto| %>
          <%= render "shared/car_item", auto: auto %>
        <% end %>

      </div>
    <% else %>
      <div class="quick-select">
        <% if last_select_car %>
          <h4>上次选择</h4>
          <%= last_select_car %>
        <% end %>
      </div>
    <% end %>

    <div class="clear"></div>

    <p class="next">
      <button id="to_select_item" class="search_button bac-orange font-white">下一步</button>
      <a class="more" href="">没找到车型？</a>
    </p>
  </div>

  <div class="row">
    <div class="col-md-8">
      <div class="comment-module bac-white">
        <h3 class="comment-title module-title">用户评价</h3>
        <div class="comment-con">

          <% Order.comments.first(5).each do |comment| %>

            <dl>
              <dt>
              <h3>
                <% phone = comment['phone_num'] %>
                <% phone[3..6] = "****" %>
                <%= phone %>
              </h3>
                <span class="time"><%= comment['evaluation_time'] %></span>
              </dt>
              <dd>
                <%= comment['evaluation_tags'].join(', ') %>
              </dd>
            </dl>

          <% end %>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="orders-situation bac-white">
        <h3 class="orders-title module-title">订单概况</h3>
        <marquee direction='up' height='300'>
          <% Order.recent_orders.each do |order| %>
            <dl>
              <dt>
                <h3><%= order["name"]%> | <%= order["car_num"] %></h3>
              </dt>
              <dd>
                <%= order["auto_model"] %>
              </dd>
            </dl>
          <% end %>
        </marquee>
      </div>
    </div>
  </div>
</div>
