<% content_for :javascripts do %>
  <%= javascript_include_tag "orders", 'data-turbolinks-track' => true %>
<% end %>

<% type = (params[:type] == nil || params[:type] == "") ? "bmt" : params[:type] %>

<% unless @result.empty? %>
  <div class="container items-select-page" data-type="<%= type %>">
    <h3 class="main-title row">保养预约</h3>

    <%= render "order_process" %>

    <div class="orders bac-white" data-car="<%= params[:car_id]%>">
      <ul>
        <li class="<%= "selected" if type == "pm25" %>"><%= link_to "PM2.5滤芯更换", select_item_orders_path(car_id: params[:car_id], type: "pm25") %></li>
        <li class="<%= "selected" if type == "bmt" %>"><%= link_to "大保养", select_item_orders_path(car_id: params[:car_id], type: "bmt") %></li>
        <li class="<%= "selected" if type == "smt" %>"><%= link_to "小保养", select_item_orders_path(car_id: params[:car_id], type: "smt") %></li>

      </ul>
      <div class="orders-con <%= type %>-con">
        <%= render "items", type: type %>
      </div>
    </div>

    <div class="service-module bac-white">
      <h3 class="service-title module-title">服务介绍</h3>
      <div class="service-con">
        <% if params[:type]=='pm25' %>
          
            <%= image_tag("pm25_detail_pc1.jpg", style: 'width: 100%') %>
          
            <%= image_tag("pm25_detail_pc2.jpg",:class => "img-thumbnail") %>
          
        <% else %>
          
            <%= image_tag("detail_1.jpg",:class => "img-thumbnail") %>
          
            <%= image_tag("detail_2.jpg",:class => "img-thumbnail") %>
          
            <%= image_tag("detail_3.jpg",:class => "img-thumbnail") %>
          
        <% end %>
      </div>
    </div>

  </div>
<% else %>
  <div class="main error">
    <%= link_to "请先选择车型", select_car_orders_path %>
  </div>
<% end %>
