<% content_for :javascripts do %>
  <%= javascript_include_tag "orders", 'data-turbolinks-track' => true %>
<% end %>

<div class="select-car-phone phone-page">
  <div role="tabpanel">
    <ul class="nav nav-tabs" role="tablist" id="myTab">
      <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">立即预约</a></li>
      <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">保养说明</a></li>
      <li role="presentation"><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">订单评价</a></li>
    </ul>

    <div class="tab-content">
      <div role="tabpanel" class="tab-pane active" id="home">
        <div class="quick-select">
          <h4 class="item-title">我的快捷车辆</h4>
          <a class="add-car"> + 重新选择</a>
          <div class="car-content content">
            <% current_user.autos.each do |auto| %>
              <%= render "shared/car_item", auto: auto %>
            <% end %>
          </div>
        </div>
        <div class="orders bac-white" data-car="<%= params[:car_id]%>">
          <h4 class="item-title">服务类型</h4>
          <ul class="content">
            <li class="pm25"><%= link_to "PM2.5滤芯滤清器", select_car_orders_path(car_id: params[:car_id], type: "pm25") %></li>
            <li class="maintain"><%= link_to "车辆上门保养", select_car_orders_path(car_id: params[:car_id], type: "maintain") %></li>
          </ul>
          <h4 class="item-title">选择配件</h4>
          <div class="orders-con <%= type=params['type'] %>-con content">
            <% if params[:car_id] %>
              <%= render "items", type: type %>
            <% else %>
              请选择车辆
            <% end %>
          </div>
          <div class="submit-con">
            <span>当前费用: 
              <span class="price result-price"></span>元
            </span>
            <p>支持现金、刷卡支付</p>
          </div>
        </div>
      </div>
      <div role="tabpanel" class="tab-pane" id="profile">
        <% if params[:type]=='pm25' %>
          <div class = "col-xs-12">
            <%= image_tag("pm25_detail_1.png", style: 'width: 100%') %>
          </div>
          <div class = "col-xs-12">
            <%= image_tag("pm25_detail_2.png",:class => "img-thumbnail") %>
          </div>
        <% else %>
          <div class = "col-xs-12">
            <%= image_tag("detail_1.png",:class => "img-thumbnail") %>
          </div>
          <div class = "col-xs-12">
            <%= image_tag("detail_2.jpg",:class => "img-thumbnail") %>
          </div>
          <div class = "col-xs-12">
            <%= image_tag("detail_3.jpg",:class => "img-thumbnail") %>
          </div>
        <% end %>
      </div>
      <div role="tabpanel" class="tab-pane" id="messages">
        <dl class="comment-item">
          <dt>
          <h3>北京市东城区 | 京A***34</h3>
          <span class="time">11分钟前</span>
          </dt>
          <dd>
          保养订单保养订单保养订单保养订单保养订单保养订单保养订单
          </dd>
        </dl>
        <dl class="comment-item">
          <dt>
          <h3>北京市东城区 | 京A***34</h3>
          <span class="time">11分钟前</span>
          </dt>
          <dd>
          保养订单保养订单保养订单保养订单保养订单保养订单保养订单
          </dd>
        </dl>
      </div>
    </div>
  </div>
</div>
<script>
$('#myTab a').click(function (e) {
    e.preventDefault()
    $(this).tab('show')
    })
  var car_id ;
  $('.quick-select').on('click','input:radio',function(){
    car_id = $('input:radio:checked').parent().siblings('.btn').data('id');
  })

  $('.pm25').click(function(){
    if(!$('.orders').data('car')){
      window.location.href = '/orders/select_car?car_id='+car_id+'&type=pm25'
    }
  });

  $('.maintain').click(function(){
    if(!$('.orders').data('car')){
      window.location.href = '/orders/select_car?car_id='+car_id+'&type=maintain'
    }
  });

</script>
