<% content_for :javascripts do %>
  <%= javascript_include_tag "orders", 'data-turbolinks-track' => true %>
<% end %>

<% type = (params[:type] == nil || params[:type] == "") ? "maintain" : params[:type] %>

<% unless @result.empty? %>
  <div class="main items-select-page" data-type="<%= type %>">
    <ul class="process">
      <li class="car-type">选择车型</li>
      <li class="service selected">选择服务</li>
      <li class="info">填写信息</li>
      <li class="success">预定成功</li>
    </ul>
    <div class="orders bac-white" data-car="<%= params[:car_id]%>">
      <ul>
        <li class="pm25 <%= "selected" if type == "pm25" %>"><%= link_to "PM2.5滤芯更换", select_item_orders_path(car_id: params[:car_id], type: "pm25") %></li>
        <li class="maintain <%= "selected" if type == "maintain" %>"><%= link_to "车辆上门保养", select_item_orders_path(car_id: params[:car_id], type: "maintain") %></li>
      </ul>


      <div class="orders-con <%= type %>-con">
        <%= render "items", type: type %>
      </div>

    </div>

    <div class="service">
      <h3 class="service-title">服务介绍</h3>
      <div class="service-con bac-white"></div>
    </div>
  </div>
<% else %>
  <div class="main error">
    <%= link_to "请先选择车型", select_car_orders_path %>
  </div>
<% end %>
