<% content_for :javascripts do %>
  <%= javascript_include_tag "orders", 'data-turbolinks-track' => true %>
<% end %>
<% @cars %>
<div class="select_car_by_initial phone-page">
  <div class="cars_list">
    <% cars_info = @cars.group_by{ |car| car["pinyin"].slice(0, 1) } %>
    <% cars_info.each_key do |key,cars| %> 
      <p class="letter" id='<%= key.upcase %>' >
        <%= key.upcase %>
      </p> 
      <% cars = cars_info[key] %> 
      <% cars.each do |car| %>  
        <ul class="brand">
          <li class="brand_title">
            <%= car['name'] %>
          </li>
          <ul class="serie hidden">
            <% brands = car['ams'] %>
            <% brands.each do |brand| %>
              <li class="serie_title">
                <%= brand['name'] %>
              </li>
              <ul class="model hidden" style="color:orange">
                <% series = brand['asms'] %>
                <% series.each do |serie| %>
                  <li data-id="<%= serie['_id'] %>">
                    <%= serie['name'] %>
                  </li>
                <% end %>
              </ul>
            <% end %>
          </ul>
        </ul>
      <% end %>
    <% end %>
  </div>
  <ul class="crumbs">
    <% letter = ('A'..'Z').to_a %>
    <% letter.each do |num| %>
      <li><a href="#<%= num %>"><%= num %></a></li>
    <% end %>
  </ul>
</div>