<% content_for :javascripts do %>
  <%= javascript_include_tag "orders", 'data-turbolinks-track' => true %>
<% end %>

<input type="hidden" data-items="<%= @result %>" class='items-select-page'>

<div class="main" id="main" data-car="<%= params[:car_id]%>">

  <div class="price" data-price="<%= @result["price"] %>">
    <%= @result["price"] %>
  </div>

  <% @result["applicable_parts"].each do |part|  %>
    <div class="item">

      <% part_name = part.keys[0] %>
      <% part_items = part.values[0] %>

      <label><%= part_name %></label>

      <select class="part">
        <% select_index = selected_item_index(default_parts(@result), part_items)  %>

        <% part_items.each_with_index do |item, index| %>
          <% unless item["quantity"] == 0 %>
            <%= render "item", name: part_name, item: item, selected: select_index == index %>
        <% end %>
        <% end %>
      </select>

    </div>
  <% end %>
</div>
