<%= title '9块9' %>
<%= meta_description '9块9，可以约很多次哦！他们都贴了No 霾 in Car——万名卡粉邀你入伙！' %>

<%= content_for :assets do %>

  <%= stylesheet_link_tag    'activity/activity99', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'activity/activity99', 'data-turbolinks-track' => true %>
<% end %>

<div class="activity99" data-link='<%= activity_url(name: '99') %>' data-thumbnail='<%= image_url("activity/thumbnail-pic.jpg") %>'>
  <%= image_tag("activity/title.png",width:"100%", class: "title ") %>
  <%= image_tag("activity/cloud.png",width:"100%", class: "cloud translate-cloud") %>
  <%= image_tag("activity/build.png",width:"100%", class: "build rotate") %>
  <%= image_tag("activity/car.png",width:"50%", class: "car translate-car") %>
  <div class="bac hidden"></div>
  <div class="form-box">
    <div class="field">
      <%= label_tag(:phone_num, "手机号:") %>
      <input type="number" class="right" id="phone_num" >
    </div>
    <div class="field">
      <%= label_tag(:car_num, "车牌号:") %>
      <input type="text" class="right" placeholder="例：京A12345" id="car_license_num"/>
    </div>
    <div class="field">
      <button class='get_code bac-orange font-white' id="get_code">点击获取</button>
      <input type="number" class="verification_code" placeholder="验证码" id="verification_code"/>
    </div>
    <div class="field">
      <button id="submit_button" class="submit_button bac-orange font-white right disable " disabled="disabled">立即预定</button>
    </div>
  </div>
  <div class="land">
    <div class="description">
      <p class="order-btn">立即约起来</p>
      <h4>
        <%= image_tag("activity/star.png",width:"100%", class: "star ") %>
        <span>活动时间：</span>
      </h4>
      <p>2014年12月15日 —— 2014年12月31日</p>
      <h4><%= image_tag("activity/star.png",width:"100%", class: "star ") %>
      <span>活动规则：</span>
      </h4>
      <p>
      <strong>·</strong>
      <span>新用户预约更换防雾霾空调滤芯，只需支付9块9，我们将为您贴上No霾in car车贴。凭车贴将享受一年三次免费更换空调滤芯！</span>
      </p>
      <p>
      <strong>·</strong>
      <span>已经贴有No霾in car车贴的用户，也将同时享一年三次免费更换空调滤芯的特权</span>
      </p>
      <p>
      <strong>·</strong>
      <span>只要有车贴，每次服务后发送朋友圈晒单免费即生效</span>
      </p>
      <p>
      <strong>·</strong>
      <span>仅限北京天津上海用户参加</span>
      </p>
    </div>
  </div>
  <div class="share">
    <p class="share-title">提交成功</p>
    <p>点击右上角的按钮，即可：</p>
    <p>
    <span>分享给朋友</span>
    <%= image_tag("activity/share.png",width:"5%", class: "star ") %>
    <span>分享到朋友圈</span>
    <%= image_tag("activity/group.png",width:"5%", class: "star ") %>
    </p>
  </div>
</div>
