<%= content_for :assets do %>
  <%= stylesheet_link_tag    'activity/tiantian', media: 'all', 'data-turbolinks-track' => true %>
<% end %>
<div class="tiantian" id="tiantian">
  <%= image_tag("activity/tiantian/top.jpg",width:"100%", class: "cloud1 translate-cloud1") %>
  <div class="btn">
  	<a href="http://www.kalading.com/orders/select_car_item?act=109&type=pm25">
  		<%= image_tag("activity/tiantian/btn1.png", class: "ball translate-ball") %>
  	</a>
  	<a href="http://www.kalading.com/orders/select_car_item?act=110&type=bmt">
  		<%= image_tag("activity/tiantian/btn2.png", class: "chat translate-chat") %>
  	</a>
  </div>
  <div class="info">
  	<div class="title"></div>
  	<div class="con">
  		<p class="tit">戳我领防霾滤芯</p>
  		<p>
  			您将获得价值179元卡拉丁特效防霾滤芯一个及上门安装服务。
		</p>
  		<p>
  			卡拉丁PM2.5特效滤芯专注于构建完美的空气过滤系统。采用的滤材纤维是由特殊工艺制成的针刺微切割静电纤维，双效滤材加入活性碳成分，增加有害气体吸附性能，保证过滤效率的稳定。（测试条件：吹风速度300m3/h， 卡拉丁空滤PM2.5过滤效率达92%）
  		</p>
  		<p class="tit">约保养不止省100</p>
  		<p>
  			卡拉丁上门汽车保养，正式成立于2012年，提供便捷、专注、可靠的上门汽车保养服务。施工全程视频录像，百分百正品保证。由卡拉丁专业养护技师提供上门服务。通过活动链接预约保养服务，卡拉丁官网价格直降100元。
  		</p>
  		<p>
  			防霾滤芯或保养服务均赠送32项安全检测：油液类、雨刷系统、刹车片、刹车
  		</p>
  	</div>
  </div>
  <div class="rule">
  	<div class="title"></div>
  	<div class="con">
  		<p>1. 兑换方式：</p>
		<p>点击相应按钮进行在线下单</p>
		<p>2. 优惠活动内容均为卡拉丁上门服务，不能单独购买配件，不可与其他优惠活动同时使用；</p>
		<p>每车仅限使用一次；不可积累使用、不兑换、不找零、不可与其他优惠共享；</p>
		<p>3. 卡拉丁防霾滤芯已覆盖1825款主流车型，同款车不同出厂时间、不同排量型号，滤芯型号也会不同。请车主在下单时按照格式准确选择您的车型。</p>
		<p>14年新车由于整车厂尚未公开数据，暂无防霾滤芯配件，我们会在有匹配数据后安排生产。如果您的车款没有对应卡拉丁防霾滤芯，可以在微信客服的帮助下，为您的爱车建立咨询单。为了感谢您帮助</p>
		<p>完善车型数据库，我们会在配件生产完成为您服务咨询单的时候，送上一份感谢的礼物。</p>
		<p>4. 咨询方式扫二维码添加卡拉丁微信公众服务号，卡拉丁微信客服在线解答问题，时间早8:00到晚10:00</p>
		<p>5. 使用范围：</p>
		<p>北京，天津，上海，成都，西安，太原，大连，广州，深圳，佛山，杭州</p>
		<p>具体服务范围参见卡拉丁微信号或官网。</p>
  	</div>
  </div>
</div>