<%= content_for :assets do %>
  <%= stylesheet_link_tag    'activity/yd_3_by_tc', media: 'all', 'data-turbolinks-track' => true %>
<% end %>

<div class="yd_3_by_tc" id="yd_3_by_tc">
  <div class="content">
    <p class="items"></p>
    <%= image_tag 'activity/yd_3_by_tc/packet.png', :class => 'packetimg' %>
    <ul class="packet" id="packet">
      <li>
        <%= link_to "嘉实多金嘉护套餐148元", select_car_item_orders_path(act: 10, type: 'smt') %>
      </li>
      <li>
        <%= link_to "嘉实多磁护套餐248元", select_car_item_orders_path(act: 11, type: 'smt') %>
      </li>
      <li>
        <%= link_to "美孚一号套餐368元", select_car_item_orders_path(act: 12, type: 'smt') %>
      </li>
    </ul>
    <div class="description">
      <h4 class="tit">
        <var></var>
        <span>套餐说明</span>
        <var></var>
      </h4>
      <p class="point">
        嘉实多金嘉护套餐148元(4S店参考价格420元)，包含4L机油＋品牌机油滤 滤芯的具体品牌以下单所示的品牌为准，本套餐提供4升机油，超过4L 每升40元，现场支付
      </p>
      <p>
        嘉实多磁护套餐248元(4S店参考价格690元)，包含4L机油＋品牌机油滤 滤芯的具体品牌以下单所示的品牌为准。本套餐提供4升机油，超过4L 每升65元，现场支付
      </p>
      <p>
        美孚1号套餐368元(4S店参考价格1600元)，包含4L机油＋品牌机油滤 滤芯的具体品牌以下单所示的品牌为准。本套餐提供4升机油，超过4L 每升85元，现场支付
      </p>
    </div>
    <div class="rules">
      <h4 class="tit">
        <var></var>
        <span>活动说明</span>
        <var></var>
      </h4>
      <p class="point">
        本套餐价格仅限易到司机专享，服务时请向技师出示易到司机端进行验证。无法验证的需支付卡拉丁官网原价。
      </p>
      <p class="point">
        限量1w份，领完为止。
      </p>
      <p class="point">
        通过活动手机页面进行下单，下单成功后客服会及时与您电话联系，确认车辆信息与上门保养时间，地点。卡拉丁客服电话400 006 8181 服务时间8:00—20:00
      </p>
      <p class="point">
        技师会在您预约的时间地上门进行保养服务，并赠送32项汽车安全检测。
      </p>
      <p class="point">
        活动最终解释权归卡拉丁所有。
      </p>
    </div>
  </div>
</div>
