<div class="container">
  <h1>
    <%= resource.title %>
  </h1>

  <hr>

  预览地址：

  <%= link_to slug_posts_path(resource.tags.last.id, resource.slug), slug_posts_path(resource.tags.last.id, resource.slug) %>

  <hr>

  <div class="tags">
    <% resource.tag_list.each do |tag| %>
      <%= tag %> |
    <% end %>
  </div>

  <div class="content">
    <%= raw resource.content %>
  </div>

  <div class="edit-btn">
    <%= link_to 'Edit', edit_admin_post_path(resource) %>
  </div>
</div>
