<ul class="clearfix current_addresses">

  <% if signed_in? %>
    <!-- 登陆的 -->

    <% addresses = current_user.service_addresses %>

    <% if addresses && addresses.length > 0 %>
      <!-- 有地址 -->
      <% addresses.each do |service_address| %>
        <li class="service-address-item <%= "selected" if service_address == current_user.default_address %>">

          <label>
            <input type="radio" name="address" value="<%= service_address.full_address %>" data-id="<%= service_address.id %>" <%= "checked" if service_address == current_user.default_address %>>

            <span class='address-name'>
              <%= service_address.full_address %>
            </span>
          </label>

          <span class="edit hide">
            <%= link_to "", service_address_path(service_address), remote: true, class: "glyphicon glyphicon-trash", method: :delete, data: { confirm: "确认删除吗?" } %>
            <!-- 修改本地址 -->
          </span>
        </li>
      <% end %>
    <% else %>
      <!-- 没地址 -->
      <span class="address-name">
        暂无服务地址，请添加
      </span>
    <% end %>
  <% else %>
    <!-- 未登录-->
    <% if cookies[:address].present? %>
      <li class="service-address-item selected">
        <label>
          <input type="radio" name="address" value="<%= cookies[:address] %>" checked>

          <span class='address-name'>
            <%= cookies[:address] %>
          </span>
        </label>
      </li>
    <% else %>
      <span class="address-name">
        暂无服务地址，请添加
      </span>
    <% end %>
  <% end %>
</ul>


