
<div class="container">
  <table class='table'>
    <thead>
      <tr>
        <th>名称</th>
        <th>开始日期</th>
        <th>结束日期</th>
        <th>展示</th>
        <th>编辑</th>
        <th>删除</th>
      </tr>
    </thead>

    <tbody>
      <% collection.each do |activity| %>
        <tr>

          <td><%= activity.name %></td>
          <td><%= activity.start_date %></td>
          <td><%= activity.end_date %></td>

          <td><%= link_to 'Show', admin_activity_path(activity) %></td>
          <td><%= link_to 'Edit', edit_admin_activity_path(activity) %></td>
          <td><%= link_to 'Destroy', admin_activity_path(activity), method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>

  <%= link_to '创建', new_admin_activity_path %>
</div>
