<div class="container">
  <p id="notice"><%= notice %></p>
  <table class='table'>

    <tr>
      <td>名称</td>
      <td><%= resource.name %></td>
    </tr>

    <tr>
      <td>开始日期</td>
      <td><%= resource.start_date %></td>
    </tr>

    <tr>
      <td>结束日期</td>
      <td><%= resource.end_date %></td>
    </tr>

    <% Channel.all.each do |channel| %>
      <tr>
        <td><%= channel.name %>推广链接</td>
        <td><%= link_to "http://hd.kalading.com/activites/9.9?from=#{channel.key}", admin_channel_path(channel) %></td>
      </tr>
    <% end %>

  </table>

  <%= link_to 'Edit', edit_admin_activity_path(resource) %> |
  <%= link_to 'Back', admin_activities_path %>
</div>
