<div class="container">
  <ul>
    注意事项：
    <li>
      auto_reply_msg关键字为早八点至晚二十点以后消息自动回复关键字，类型固定为text。除内容可编辑以外，其他不可更改，更不可删除！
    </li>
    <li>
      follow_reply_msg关键字为用户第一次关注时消息回复关键字，类型固定为text。除内容可编辑以外，其他不可更改，更不可删除！
    </li>
  </ul>
  <table class="table">
    <thead>
      <tr>
        <th>关键字</th>
        <th>类型</th>
        <th>修改关键字</th>
        <th>回复消息</th>
        <th>删除</th>
      </tr>
    </thead>

    <tbody>
      <% @reply_messages.each do |msg| %>
        <tr>
          <td><%= msg.keyword %></td>
          <td><%= msg.msg_type %></td>
          <td><%= link_to "修改", edit_admin_reply_message_path(msg.id) %></td>
          <td><%= link_to "编辑", admin_reply_message_path(msg.id) %></td>
          <td><%= link_to "删除", admin_reply_message_path(msg.id), method: :delete, data:{ confirm: '你特么确定要删除我吗?'} %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= link_to "添加", new_admin_reply_message_path %> |
  <%= link_to "返回", admin_weixin_index_path %>
</div>
