<div class="container">
  <div class="form-group">
    <label>关键字：</label>
    <%= @reply_message.keyword %>
  </div>

  <div class="form-group">
    <label>类型：</label>
    <%= @reply_message.msg_type %>
  </div>

  <% if @reply_message.msg_type == 'text' %>
    <%= render 'text_form' %>
  <% elsif @reply_message.msg_type == 'news' %>
    <%= render 'news_form' %>
  <% end %>

  <%= link_to "返回", admin_reply_messages_path %>
</div>

