<div class="container">
  <%= form_for [:admin, @reply_message, @reply_article], html: { multipart: true } do |f| %>

    <div class="form-group">
      <label>图文消息标题</label>
      <%= f.text_field :title, class: 'form-control' %>
    </div>

    <div class="form-group">
      <label>传图片)注：支持JPG、PNG格式，较好的效果为大图360*200，小图200*200。同时发送多篇文章的大图只显示第一篇文章，第二篇文章及以后只显示小图</label>
      <%= image_tag(@reply_article.pic_url) if @reply_article.pic? %>
      <%= f.file_field :pic, class: 'form-control' %>
      <%= f.hidden_field :pic_cache %>
    </div>

    <div class="form-group">
      <label>图文消息跳转链接</label>
      <%= f.text_field :url, class: 'form-control' %>
    </div>

    <div class="form-group">
      <label>图文消息描述</label>
      <%= f.text_area :description, class: 'form-control', rows: '6' %>
    </div>

    <div class="submit-btn">
        <%= f.submit '保存' , class: 'btn btn-default' %>
    </div>

  <% end %>

  <%= link_to "返回", admin_reply_message_path(@reply_message) %>
</div>
