<%= title @title %>

<div class="container user-info posts">
  <div class="row">
    <div class="col-md-12 title">
      <%= @title %>
    </div>
  </div>

  <div class="row">
    <%= render "menu" %>
    <div class="col-md-9 content">
      <% if @posts.length == 1 %>
        <%= render "post_content", post: @posts.first %>
      <% else %>
        <%= render "posts_list", posts: @posts %>
      <% end %>
    </div>
  </div>
</div>
