<header class="navbar navbar-default navbar-static-top" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <%= link_to "Dashboard", admin_main_index_path, :class => "navbar-brand" %>
    </div>

    <nav class="collapse navbar-collapse bs-navbar-collapse">
      <ul class="nav navbar-nav">
        <li>
          <%= link_to "用户", admin_users_path %>
        </li>
        <li>
          <%= link_to "活动", admin_activities_path %>
        </li>
        <li>
          <%= link_to "渠道", admin_channels_path %>
        </li>
        <li>
          <%= link_to "微信管理", admin_weixin_index_path %>
        </li>
        <li>
          <%= link_to "文章", admin_posts_path %>
        </li>
      </ul>
    </nav>
  </div>
</header>
