<%= simple_form_for [:admin, @diymenu] do |f| %>
  <%= f.error_notification %>
  <%= f.simple_fields_for :sub_menus do |diymenu| %>
    <%= render "sub_menu_fields", f: diymenu %>
  <% end %>
  <%= link_to_add_association '添加一个DIY菜单', f, :sub_menus, class: 'btn btn-primary' %>
  <div class="actions">
    <%= f.button :submit, value: '保存', class: 'btn btn-primary' %>
  </div>
<% end %>
