<div class="footer">
  <div class="container">
    <div class="promise">
      <dl title="100%正品配件">
        <dt>100</dt>
        <dd>%</dd>
        <dd class="des">正品配件</dd>
      </dl>
      <dl title="24小时预约上门服务">
        <dt>24</dt>
        <dd>小时</dd>
        <dd class="des">预约上门服务</dd>
      </dl>
      <dl title="200万责任险">
        <dt>200</dt>
        <dd>万</dd>
        <dd class="des">责任险</dd>
      </dl>
      <dl title="365天全年无休">
        <dt>365</dt>
        <dd>天</dd>
        <dd class="des">全年无休</dd>
      </dl>
    </div>
    <div class="bottom-nav">
      <ul>
        <li class="title">服务支持</li>
        <li>
          <%= link_to "售后政策", aftermarket_users_path  %>
        </li>
        <li>
          <%= link_to "产品保障", product_users_path %>
        </li>
        <li>
          <%= link_to "服务说明", service_descripion_users_path %>
        </li>
        <li>
          <%= link_to "联系我们", contact_users_path  %>
        </li>
      </ul>
      <ul>
        <li class="title">特色服务</li>
        <li>
          <%= link_to "集团客户服务", guest_service_users_path %>
        </li>
        <li>到店服务</li>
      </ul>
      <ul>
        <li class="title">关注我们</li>
        <li class="sina" title="新浪微博"><a href="">新浪微博</a></li>
        <li class="chat" title="官方微信"><a href="">官方微信</a></li>
      </ul>
      <div class="contact">
        <h4 class="tel" title="400-006-8181">400-006-8181</h4>
        <span>仅收市话费，周一至周日8：00-18：00</span>
      </div>
    </div>

  </div>
</div>
