<!DOCTYPE html>
<html>
<head>
  <title>Admin</title>
  <meta charset="utf-8">
  <%= favicon_link_tag 'favicon.ico' %>

  <%= stylesheet_link_tag    'admin/admin', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'admin/admin', 'data-turbolinks-track' => true %>

  <%= yield :javascripts %>

  <%= csrf_meta_tags %>
</head>
<body>

  <%= render "shared/admin/header" %>

  <%= yield %>

</body>
</html>
