<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <%= favicon_link_tag 'favicon.ico' %>

  <%= stylesheet_link_tag    'api', media: 'all' %>
  <%= javascript_include_tag 'api' %>
  <%= csrf_meta_tags %>
</head>
<body>

  <%= yield %>

</body>
</html>

