<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <meta name="description" content="<%= meta_description %>">
  <meta name="keywords" content="<%= meta_keywords %>">

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

  <%= favicon_link_tag 'favicon.ico' %>
  <%= stylesheet_link_tag    'new', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'new', 'data-turbolinks-track' => true %>

  <%= yield :javascripts %>

  <%= csrf_meta_tags %>
</head>

<body>
  <%= render 'layouts/new/header' %>
  <%= yield %>
  <%= render 'layouts/new/footer' %>
</body>
</html>
